<section class="page-title">
  <div class="container">
    <h2>Workshop Agentes y Sistemas Inteligentes (WASI)</h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="/static_pages/workshops"><i class="fa fa-angle-right"> Workshops</i></a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="section-workshops">
  <div class="container-workshops">
	  <h3>Coordinadores</h3>
	  <ul>
	  	<li>Guillermo Leguizamón (UNSL)</li>
	  	<li>Carolina Salto (UNLPam)</li>
	  	<li>Daniel Fridlender (UNC)</li>
	  </ul>
	  <h3>Comité Científico</h3>
	  <ul>
	  	<li>Alejandro Edera – Universidad Nacional de Cuyo</li>
	  	<li>Alejandro Garcia – Universidad Nacional del Sur</li>
	  	<li>Alejandro Zunino – Universidad Nacional del Centro de la Provincia de Buenos Aires</li>
	  	<li>Ana Carolina Olivera – UACO Universidad Nacional de la Patagonia Austral</li>
	  	<li>Ana Casali – Universidad Nacional de Rosario</li>
	  	<li>Ana Maguitman – Universidad Nacional del Sur, Conicet</li>
	  	<li>Andrea Villagra – Unidad Caleta Olivia, Universidad Nacional de La Patagonia Austral</li>
	  	<li>Carolina Salto – Universidad Nacional de La Pampa/li>
	  	<li>Daniela Godoy – Universidad Nacional del Centro de la Provincia de Buenos Aires</li>
	  	<li>Diego Martinez – Universidad Nacional del Sur, Conicet</li>
	  	<li>Efrén Mezura – Montes Universidad Veracruzana, MÉXICO</li>
	  	<li>Francisco Bavera – Universidad Nacional de Río Cuarto</li>
	  	<li>Gabriela Minetti – Universidad Nacional de La Pampa</li>
	  	<li>Gerardo Ignacio Simari – Universidad Nacional del Sur</li>
	  	<li>Polytechnic Institute (Mexico)</li>
	  	<li>Guillermo Aguirre – Universidad Nacional de San Luis</li>
	  	<li>Guillermo R. Simari – Universidad Nacional del Sur</li>
	  	<li>Hugo Alfonso – Universidad Nacional de La Pampa</li>
	  	<li>Javier M. Apolloni – Universidad Nacional de San Luis</li>
	  	<li>Jessica Carballido – Universidad Nacional del Sur</li>
	  	<li>Laura Alonso – Alemany Universidad Nacional de Córdoba</li>
	  	<li>Laura Cecchi -Universidad Nacional de Comahue</li>
	  	<li>Laura Lanzarini – Universidad Nacional de La Plata</li>
	  	<li>Luciano Tamargo – Universidad Nacional del Sur</li>
	  	<li>Marcelo A. Falappa – Universidad Nacional del Sur</li>
	  	<li>María Laura Cobo – Universidad Nacional del Sur</li>
	  	<li>María Vanina Martínez – Universidad Nacional del Sur</li>
	  	<li>Sebastián Gottifredi – Universidad Nacional del Sur, Conicet</li>
	  	<li>Silvia Schiaffino – Universidad Nacional del Centro de la Provincia de Buenos Aires</li>
	  	<li>Valentín Cassano – McMaster University, Canada</li>
	  	<li>Victoria Aragón – Universidad Nacional de San Luis</li>

	  </ul>
	  <h3>Temas</h3>
	  <ul>
	    <li>Approximate Reasoning</li>
	    <li>Bio-Inspired Metaheuristics</li>
	    <li>Constrains, Satisfiability and Search</li>
	    <li>Intelligent Data Mining</li>
	    <li>Intelligent Robotics</li>
	    <li>Intelligent System Performance Measurements</li>
	    <li>Intelligent Systems</li>
	    <li>Knowledge Representation</li>
	    <li>Machine Learning</li>
	    <li>Metaheuristics Based on Collective Intelligence</li>
	    <li>Multi-Agent Systems</li>
	    <li>Natural Language Processing</li>
	    <li>Planning and Scheduling</li>
	    <li>Reasoning and Logic</li>
	    <li>Semantic Web</li>
	  </ul>
  </div>
</section>
