<section class="page-title">
  <div class="container">
    <h2>Workshop Arquitectura, Redes y Sistemas Operativos (WARSO)</h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="/static_pages/workshops"><i class="fa fa-angle-right"> Workshops</i></a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="section-workshops">
  <div class="container-workshops">
  	<h3>Coordinadores</h3>
  	<ul>
  	  <li>Jorge Ardenghi (UNS)</li>
  	  <li>Carlos Buckle (UNPSJB)</li>	
  	</ul>
  	<h3>Comité Científico</h3>
  	<ul>
  		<li>Acosta, Nelson (Argentina)</li>
  		<li>Ardenghi, Jorge (Argentina)</li>
  		<li>Bevilacqua Roberto (Argentina)</li>
  		<li>Buckle, Carlos (Argentina)</li>
  		<li>Castro Lechtaler, Antonio (Argentina)</li>
  		<li>Díaz F. Javier (Argentina)</li>
  		<li>Fischer, Stefan (Alemania)</li>
  		<li>García Garino, Carlos (Argentina)</li>
  		<li>García Villalba, Luis Javier (España)</li>
  		<li>Marrone, Luis (Argentina)</li>
  		<li>Matrángolo, Carlos (Argentina)</li>
  		<li>Mercado, Gustavo (Argentina)</li>
  		<li>Micolini, Orlando (Argentina)</li>
  		<li>Molinari, Lía (Argentina)</li>
  		<li>Padovani, Hugo (Argentina)</li>
  		<li>Steinmetz, Ralf (Alemania)</li>
  		<li>Tarouco, Liane (Brasil)</li>
  		<li>Ultreras, Florencio (Chile)</li>
  		<li>Vendrell Vidal, Eduardo (España)</li>
  	</ul>
  	<h3>Temas</h3>
  	<ul>
	  <li>Administración y monitoreo de redes y servicios</li>
  	  <li>Análisis y detección de vulnerabilidades</li>
	  <li>Arquitecturas de computadoras</li>
	  <li>Arquitecturas orientadas a servicios (SOA)</li>
	  <li>Calidad de Servicio (QoS, SLAs)</li>
	  <li>Comunicaciones unificadas</li>
	  <li>Criptografía</li>
	  <li>Infraestructura para firma digital y certificados digitales</li>
	  <li>Infraestructura para Grid</li>
	  <li>Middleware</li>
	  <li>Redes activas</li>
	  <li>Redes de comunicaciones</li>
	  <li>Redes de nueva generación</li>
	  <li>Redes heterogéneas</li>
	  <li>Redes inalámbricas</li>
	  <li>Redes móviles</li>
	  <li>Seguridad Informática y autenticación, privacidad</li>
	  <li>Servicios de integración (Web Services o Net)</li>
	  <li>Sistemas embebidos</li>
	  <li>Sistemas operativos</li>
	  <li>Sistemas P2P</li>
  	</ul>
  </div>
</section>
