<section class="page-title">
  <div class="container">
    <h2>Workshops</h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="/static_pages/workshops"><i class="fa fa-angle-right"> Workshops</i></a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="section-workshops">
  <div class="container-workshops">
  	<h3>Coordinadores</h3>
  	<ul>
  	  <li>Rodolfo Bertone(UNLP)</li>
  	  <li>Hugo Alfonso (UNLPam)</li>
  	  <li>Nora Reyes (UNSL)</li>	
  	</ul>
  	<h3>Temas</h3>
  	<ul>
      <li>Modelo y Diseño de Datos</li>
      <li>Verificación y Validación de Software</li>
      <li>Bases de Datos Objeto</li>
      <li>Bases de Datos Difusas</li>
      <li>Bases de Datos Temporales, Espaciales y Espacio-Temporales</li>
      <li>Bases de Datos Geográficas</li>
      <li>Bases de Datos de Conocimiento</li>
      <li>Bases de Datos Textuales y Multimedia</li>
      <li>Bases de Datos en Web</li>
      <li>Base de Datos y XML</li>
      <li>Otro tipo de Bases de Datos</li>
      <li>Data Warehouse</li>
      <li>Data Mining</li>
      <li>Datos: Procesamiento y Exploración</li>
      <li>Clasificación y Análisis de Asociación</li>
      <li>Clustering: Agrupamiento de datos</li>
      <li>Detección de Anomalías</li>
      <li>Aprendizaje Automático</li>
    </ul>
  </div>
</section>
