<section class="page-title">
  <div class="container">
    <h2>Workshop Bases de Datos y Minería de Datos (WBDMD)</h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="/static_pages/workshops"><i class="fa fa-angle-right"> Workshops</i></a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="section-workshops">
  <div class="container-workshops">
  	<h3>Coordinadores</h3>
  	<ul>
  	  <li>Rodolfo Bertone(UNLP)</li>
  	  <li>Hugo Alfonso (UNLPam)</li>
  	  <li>Nora Reyes (UNSL)</li>	
  	</ul>
    <h3>Comité Científico</h3>
    <ul>
      <li>Comité CientíficoBender, Cristina – Universidad Nacional de Rosario (Argentina)</li>
      <li>Brisaboa, Nieves R. – Universidad da Coruña (España)</li>
      <li>Chávez, Edgar – Centro de Investigación Científica y de Educación Superior de Ensenada (Mexico)</li>
      <li>Corbalán, Leonardo – Universidad Nacional de La Plata (Argentina)</li>
      <li>Cuevas, Alfredo Simón – Instituto Superior Politécnico José A.Echeverría (Cuba)</li>
      <li>Deco, Claudia Deco – Universidad Nacional de Rosario (Argentina)</li>
      <li>Errecalde, Marcelo – Universidad Nacional de San Luis (Argentina)</li>
      <li>Figueroa, Karina – Universidad Michoacana de San Nicolás de Hidalgo (México)</li>
      <li>Gagliardi, Edilma Olinda – Universidad Nacional de San Luis (Argentina)</li>
      <li>Hasperué, Waldo – Universidad Nacional de La Plata (Argentina)</li>
      <li>Herrera, Norma – Universidad Nacional de San Luis (Argentina)</li>
      <li>Lanzarini, Laura – Universidad Nacional de La Plata (Argentina)</li>
      <li>Leguizamón, Guillermo – Universidad Nacional de San Luis (Argentina)</li>
      <li>Luaces, Miguel R. – Universidad da Coruña (España)</li>
      <li>Motz, Regina – Universidad de la República (Uruguay)</li>
      <li>Olivas Varela, José Ángel – Universidad de Castilla La Mancha (España)</li>
      <li>Paramá Gabía, José Ramón – Universidad da Coruña (España)</li>
      <li>Paredes, Rodrigo – Universidad de Talca (Chile)</li>
      <li>Pedreira, Óscar – Universidad da Coruña (España)</li>
      <li>Pollo Cattaneo, María Florencia – Facultad Regional Buenos Aires – Universidad </li>
      <li>Tecnológica Nacional (Argentina)</li>
      <li>Romero, Francisco Pascual</li>
      <li>Seco, Diego – Universidad de Concepción (Chile)</li>
      <li>Serrano, Jesús – Universidad de Castilla La Mancha (España)</li>
      <li>Spositto, Osvaldo – Universidad Nacional de La Matanza (Argentina)</li>
    </ul>
  	<h3>Temas</h3>
  	<ul>
      <li>Modelo y Diseño de Datos</li>
      <li>Verificación y Validación de Software</li>
      <li>Bases de Datos Objeto</li>
      <li>Bases de Datos Difusas</li>
      <li>Bases de Datos Temporales, Espaciales y Espacio-Temporales</li>
      <li>Bases de Datos Geográficas</li>
      <li>Bases de Datos de Conocimiento</li>
      <li>Bases de Datos Textuales y Multimedia</li>
      <li>Bases de Datos en Web</li>
      <li>Base de Datos y XML</li>
      <li>Otro tipo de Bases de Datos</li>
      <li>Data Warehouse</li>
      <li>Data Mining</li>
      <li>Datos: Procesamiento y Exploración</li>
      <li>Clasificación y Análisis de Asociación</li>
      <li>Clustering: Agrupamiento de datos</li>
      <li>Detección de Anomalías</li>
      <li>Aprendizaje Automático</li>
    </ul>
  </div>
</section>
