<section class="page-title">
  <div class="container">
    <h2>Workshop Computación Gráfica, Imágenes y Visualización</h2>
    <ul class="list-inline">
      <li><a href="#">Home</a></li>
      <li><a href="/static_pages/workshops"><i class="fa fa-angle-right"> Workshops</i></a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="section-workshops">
  <div class="container-workshops">
    <h3>Coordinadores</h3>
    <ul>	
      <li>Silvia Castro (UNS)</li>
      <li>Roberto Guerrero (UNSL)</li>
      <li>Oscar Bría (INVAP)</li>
    </ul>
    <h3>Temas</h3>
    <ul>
      <li>Modelado Geométrico</li>
      <li>Modelado de Fenómenos Naturales</li>
      <li>Iluminación y Rendering</li>
      <li>Animación</li>
      <li>Realidad Virtual y Aumentada</li>
      <li>Interacción Humano-Computadora</li>
      <li>Diseño Asistido por Computadora</li>
      <li>Interfaces Gráficas</li>
      <li>Interfaces con Dispositivos No Convencionales</li>
      <li>Juegos y Tecnologías del Entretenimiento</li>
      <li>GPU y Sistemas Gráficos</li>
      <li>Visualización de Información</li>
      <li>Visualización Científica</li>
      <li>Visualización de Software</li>
      <li>Visualización de Algoritmos</li>
      <li>Visualización de Terrenos</li>
      <li>Visualización de Flujos</li>
      <li>Visual Analytics</li>
      <li>Generación, Adquisición, Registración, Manipulación, Segmentación, Restablecimiento y Compresión de Imágenes</li>
      <li>Correcciones de Color</li>
      <li>Codificación y Encriptación de Imágenes</li>
      <li>Recuperación de Imágenes</li>
      <li>Clasificación y Clusterizado</li>
  </ul>
  </div>
</section>
