<section class="page-title">
  <div class="container">
    <h2>Workshop Computación Gráfica, Imágenes y Visualización (WCGIV)</h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="/static_pages/workshops"><i class="fa fa-angle-right"> Workshops</i></a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="section-workshops">
  <div class="container-workshops">
    <h3>Coordinadores</h3>
    <ul>	
      <li>Silvia Castro (UNS)</li>
      <li>Roberto Guerrero (UNSL)</li>
      <li>Oscar Bría (INVAP)</li>
    </ul>
    <h3>Comité Científico</h3>
    <ul>
      <li>Abásolo, María José (Argentina)</li>
      <li>André Da Costa, Cristiano (Brasil)</li>
      <li>Baldasarri, Sandra (España)</li>
      <li>Bria, Oscar (Argentina)</li>
      <li>Castro, Silvia (Argentina)</li>
      <li>Collazos Ordóñez, César Alberto (Colombia)</li>
      <li>D ́Amato, Juan Pablo (Argentina)</li>
      <li>Deinzer, Frank (Alemania)</li>
      <li>Ganuza, María Luján (Argentina)</li>
      <li>García Bauzá, Cristian (Argentina)</li>
      <li>Gazcón, Nicolás Fernando (Argentina)</li>
      <li>Giacomantone, Javier (Argentina)</li>
      <li>González Hidalgo, Manuel (España)</li>
      <li>Gröller, Eduard (Austria)</li>
      <li>Grötsch, Eberhard (Alemania)</li>
      <li>Guerrero, Roberto (Argentina)</li>
      <li>Hernández Peñaloza, José Tiberio (Colombia)</li>
      <li>Kozlíková, Barbora (República Checa)</li>
      <li>Larese, Mónica G. (Argentina)</li>
      <li>Larrea, Martín (Argentina)</li>
      <li>Larregui, Juan Ignacio (Argentina)</li>
      <li>Lecumberry, Federico (Uruguay)</li>
      <li>Manresa-Yee, Cristina (España)</li>
      <li>Más Sansó, Ramón (España)</li>
      <li>Matković Krešimir (Austria)</li>
      <li>Meschino, Gustavo (Argentina)</li>
      <li>Pardo, Alvaro (Uruguay)</li>
      <li>Perales, Francisco (España)</li>
      <li>Pina, Alfredo (España)</li>
      <li>Puppo, Enrico (Italia)</li>
      <li>Rodríguez, Rojas Jorge (Venezuela)</li>
      <li>Selzer, Matías (Argentina)</li>
      <li>Serón Arbeloa, Francisco (España)</li>
      <li>Simari, Patricio (USA)</li>
      <li>Urribarri, Dana K. (Argentina)</li>
      <li>Varona Gómez, Xavier (España)</li>
      <li>Vaz de Carvalho, Carlos (Portugal)</li>
    </ul>
    <h3>Temas</h3>
    <ul>
      <li>Modelado Geométrico</li>
      <li>Modelado de Fenómenos Naturales</li>
      <li>Iluminación y Rendering</li>
      <li>Animación</li>
      <li>Realidad Virtual y Aumentada</li>
      <li>Interacción Humano-Computadora</li>
      <li>Diseño Asistido por Computadora</li>
      <li>Interfaces Gráficas</li>
      <li>Interfaces con Dispositivos No Convencionales</li>
      <li>Juegos y Tecnologías del Entretenimiento</li>
      <li>GPU y Sistemas Gráficos</li>
      <li>Visualización de Información</li>
      <li>Visualización Científica</li>
      <li>Visualización de Software</li>
      <li>Visualización de Algoritmos</li>
      <li>Visualización de Terrenos</li>
      <li>Visualización de Flujos</li>
      <li>Visual Analytics</li>
      <li>Generación, Adquisición, Registración, Manipulación, Segmentación, Restablecimiento y Compresión de Imágenes</li>
      <li>Correcciones de Color</li>
      <li>Codificación y Encriptación de Imágenes</li>
      <li>Recuperación de Imágenes</li>
      <li>Clasificación y Clusterizado</li>
  </ul>
  </div>
</section>
