<section class="page-title">
  <div class="container">
    <h2>Workshop Ingeniería de Software (WIS)</h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="/static_pages/workshops"><i class="fa fa-angle-right"> Workshops</i></a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="section-workshops">
  <div class="container-workshops">
  	<h3>Coordinadores</h3>
  	<ul>
  	  <li>Patricia Pesado (UNLP)</li>
  	  <li>Elsa Estevez (UNS)</li>
  	  <li>Alejandra Cechich (UNCOMA)</li>
  	  <li>Horacio Kuna (UNaM)</li>	
  	</ul>
    <h3>Comité Científico</h3>
    <ul>
      <li>Ojo Adegboyega (Irlanda)</li>
      <li>Hernán Astudillo (Chile)</li>
      <li>Luis Barbosa (Portugal)</li>
      <li>Pablo Fillottrani (Argentina)</li>
      <li>Marcela Genero (España)</li>
      <li>Tomasz Janowski (Polonia)</li>
      <li>Marijn Janssen (Países Bajos) </li>
      <li>Antonio Navarro Martin (España)</li>
      <li>José Ángel Olivas Varela (España)</li>
      <li>Mario Piatini (España)</li>
      <li>Daniel Riesco (Argentina)</li>
      <li>Gustavo Rossi (Argentina)</li>
    </ul>
  	<h3>Temas</h3>
  	<ul>
      <li>Administración de Configuración de Software y Despliegue</li>
      <li>Administración de Proyectos de Software</li>
      <li>Arquitecturas y Diseño de Software</li>
      <li>Calidad de Software</li>
      <li>Dependabilidad y Confiabilidad del Software</li>
      <li>Desarrollo Ágil de Software</li>
      <li>Desarrollo de Software basado en Componentes</li>
      <li>Entornos para el Desarrollo de Software</li>
      <li>Evolución del Software</li>
      <li>Estándares para el Desarrollo de Software</li>
      <li>Herramientas de Software</li>
      <li>Herramientas y Tecnologías de la Web 2.0</li>
      <li>Ingeniería de Requerimientos de Software</li>
      <li>Ingeniería de Software Distribuido</li>
      <li>Ingeniería de Software Embebido y Tiempo Real</li>
      <li>Ingeniería de Software Empírica</li>
      <li>Ingeniería de Software para Sistemas Ubícuos y Móviles</li>
      <li>Ingeniería de Software para la Web</li>
      <li>Ingeniería Reversa</li>
      <li>Mantenimiento de Software</li>
      <li>Metodologías de Desarrollo de Software</li>
      <li>Métricas de Software</li>
      <li>Modelamiento de Software</li>
      <li>Modelamiento de Procesos de Negocio</li>
      <li>Orientación a Aspectos</li>
      <li>Patrones y Frameworks</li>
      <li>Plataformas como Servicios</li>
      <li>Políticas para el Software y para las TICs</li>
      <li>Privacidad</li>
      <li>Procesos de Software</li>
      <li>Reuso de Software</li>
      <li>Sistemas de Información</li>
      <li>Sistemas de Software basados en Cloud Computing</li>
      <li>Sistemas de Software Sensibles al Contexto</li>
      <li>Software como Servicio</li>
      <li>Soporte Computacional para Tareas Colaborativas</li>
      <li>Testeo de Software</li>
      <li>Teoría y Métodos Formales</li>
      <li>Verificación y Validación de Software</li>
      <li>Workflows</li>
    </ul>
  </div>
</section>
