<section class="page-title">
  <div class="container">
    <h2>Workshop Innovación en Educación en Informática (WIEI)</h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="/static_pages/workshops"><i class="fa fa-angle-right"> Workshops</i></a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="section-workshops">
  <div class="container-workshops">
	<h3>Coordinadores</h3>
	<ul>
	  <li>Cecilia Sanz (UNLP)</li>
	  <li>Beatriz Depetris (UNDTF)</li>
	  <li>Marcelo De Vincenzi (UAI)</li>
	</ul>
  <h3>Comité Científico</h3>
  <ul>
    <li>Baldassarri Sandra (España)</li>
    <li>Cukierman Diana (Canadá)</li>
    <li>De Giusti Armando (Argentina)</li>
    <li>Feierherd Guillermo (Argentina)</li>
    <li>Manresa-Yee Cristina (España)</li>
    <li>Marco Javier (España)</li>
    <li>Motz Regina (Uruguay)</li>
    <li>Pesado Patricia (Argentina)</li>
    <li>Roig Vila Rosabel (España)</li>
    <li>Simari Guillermo (Argentina)</li>
  </ul>
	<h3>Temas</h3>
	<ul>
      <li>Estrategias y metodologías innovadoras de Enseñanza</li>
      <li>Descripción y evaluación de experiencias innovadoras de enseñanza</li>
      <li>Herramientas estratégicas en el desarrollo de procesos educativos en la formación en Informática</li>
      <li>Procesos colaborativos mediados por TIC</li>
      <li>Competencias del profesional docente del área Informática /Ciencias de la Computación</li>
      <li>Diseños curriculares innovadores</li>
      <li>Ubicuidad en los proceso de enseñar y aprender</li>
      <li>Incidencias de las actuales tecnologías móviles</li>
      <li>Aprendizaje de la Informática centrado en el alumno</li>
    </ul>
  </div>
</section>
