<section class="page-title">
  <div class="container">
    <h2>Workshop Innovación en Sistemas de Software (WISS)</h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="/static_pages/workshops"><i class="fa fa-angle-right"> Workshops</i></a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="section-workshops">
  <div class="container-workshops">
  	<h3>Coordinadores</h3>
  	<ul>
  	  <li>Pablo Fillottrani (UNS)</li>
  	  <li>Marcelo Estayno (UNLZ)</li>
  	  <li>Alicia Mon (ITBA)</li>
  	  <li>Dante Zanarini (UNR)</li>
  	</ul>
    <h3>Comité Científico</h3>
    <ul>
      <li>Bursztyn Andrés (Argentina)</li>
      <li>Estayno Marcelo (Argentina)</li>
      <li>Fillottrani Pablo (Argentina)</li>
      <li>Flores Andrés (Argentina)</li>
      <li>Gomez Sergio (Argentina)</li>
      <li>Meles Judith (Argentina)</li>
      <li>Montejano Germán (Argentina)</li>
      <li>Riesco Daniel (Argentina)</li>
      <li>Spositto Osvaldo (Argentina)</li>
      <li>Vitturini Mercedes (Argentina)</li>
      <li>Vivas Luis (Argentina)</li>
      <li>Zanarini Dante (Argentina)</li>
    </ul>
  	<h3>Temas</h3>
  	<ul>
      <li>Dispositivos móviles (celulares, smartphones, PocketPCs, TabletPC, etc)</li>
      <li>Software para la Web Semántica</li>
      <li>Nuevas herramientas y métodos para ingeniería de software</li>
      <li>Computación ubicua</li>
      <li>Interfaces emergentes</li>
      <li>Ingeniería de ontologías</li>
      <li>Nuevas tendencias en ingeniería de software</li>
      <li>Computación colaborativa (e-commerce, e-government, e-business, etc)</li>
    </ul>
  </div>
</section>
