<section class="page-title">
  <div class="container">
    <h2>Workshop Procesamiento Distribuido y Paralelo (WPDP)</h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="/static_pages/workshops"><i class="fa fa-angle-right"> Workshops</i></a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="section-workshops">
  <div class="container-workshops">
  	<h3>Coordinadores</h3>
  	<ul>
  	  <li>Marcela Printista(UNSL)</li>
  	  <li>Laura De Giusti (UNLP)</li>
  	  <li>Carlos García Garino (UNCu)</li>
  	</ul>
  	<h3>Comité Científico</h3>
  	<ul>
  		<li>Ardenghi Jorge (Argentina)</li>
  		<li>Balladini, Javier (Argentina)</li>
  		<li>Bertogna, Leandro (Argentina)</li>
  		<li>Bianchini Germán (Argentina)</li>
  		<li>Cancela, Héctor (Uruguay)</li>
  		<li>CaymesScutari Paola (Argentina)</li>
  		<li>Chichizola Franco (Argentina)</li>
  		<li>De Giusti, Armando (Argentina)</li>
  		<li>De Giusti, Laura (Argentina)</li>
  		<li>Denham Mónica (Argentina)</li>
  		<li>Doallo, Ramón (España)</li>
  		<li>Fabero, Juan C. (España)</li>
  		<li>García Garino Carlos (Argentina)</li>
  		<li>Gil Costa Verónica (Argentina)</li>
  		<li>Iacono Lucas (Argentina)</li>
  		<li>Laguna Carlos Alfonso (España)</li>
  		<li>Luque, Emilio (España)</li>
  		<li>Marín, Mauricio (Chile)</li>
  		<li>Martín, María J. (España)</li>
  		<li>Naiouf, Marcelo (Argentina)</li>
  		<li>Olcoz Herrero Katzalin (España)</li>
  		<li>Pardo Xoan (España)</li>
  		<li>Pacini Elina (Argentina)</li>
  		<li>Piccoli Fabiana (España)</li>
  		<li>Piñuel Luis (España)</li>
  		<li>Printista Marcela (Argentina)</li>
  		<li>Rexachs, Dolores (España)</li>
  		<li>Rodríguez León, Casiano (España)</li>
  		<li>Rodríguez de Souza, Josemar (Brasil)</li>
  		<li>Suppi, Remo (España)</li>
  		<li>Tinetti, Fernando (Argentina)</li>
  		<li>Tirado, Francisco (España)</li>
  		<li>Touriño, Juan (España)</li>
  	</ul>
  	<h3>Temas</h3>
  	<ul>
	  <li>Algoritmos Paralelos</li>
	  <li>Métricas de Performance y Eficiencia en Paralelismo</li>
	  <li>Escalabilidad</li>
	  <li>Optimización de algoritmos paralelos</li>
	  <li>Modelos de Arquitecturas paralelas</li>
	  <li>Computación de Altas Prestaciones</li>
	  <li>Predicción de Performance en Algoritmos Paralelos</li>
	  <li>Balance de Carga en Sistemas Distribuidos/Paralelos</li>
	  <li>Mapping, scheduling y virtualización en arquitecturas paralelas</li>
	  <li>Arquitecturas multiprocesador orientadas a Paralelismo</li>
	  <li>Software de base para multicores, simétricos y asimétricos</li>
	  <li>Arquitecturas distribuidas como Procesadores Paralelos</li>
	  <li>Evaluación de performance en sistemas paralelos homogéneos y heterogéneos</li>
	  <li>Cluster, Grid y Cloud Computing</li>
	  <li>Middleware para arquitecturas de procesamiento paralelo</li>
	  <li>Fallas de hardware y software en Arquitecturas Paralelas. Tolerancia a Fallas</li>
	  <li>Aplicaciones de Sistemas Distribuidos/Paralelos</li>
	  <li>Simulación de Alta Performance</li>
	</ul>
  </div>
</section>