<section class="page-title">
  <div class="container">
    <h2>Workshop Procesamiento de Señales y Sistemas de Tiempo Real (WPSSTR)</h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="/static_pages/workshops"><i class="fa fa-angle-right"> Workshops</i></a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="section-workshops">
  <div class="container-workshops">
  	<h3>Coordinadores</h3>
  	<ul>
  	  <li>Horacio Villagarcia Wanza (UNLP)</li>
  	  <li>Emanuel Frati (UNdeC)</li>
  	  <li>Jorge Ierache (UM)</li>
  	</ul>
    <h3>Comité Científico</h3>
    <ul>
      <li>Jorge Lugo – Instituto Balseiro / INVAP</li>
      <li>Hugo Ramon – UNNoBA</li>
      <li>Remo Suppi – UAB, España</li>
      <li>Oscar Bria – UNLP / INVAP</li>
      <li>Alberto Eduardo Riba – UNdeC</li>
      <li>Carlos Maidana – UNLaM</li>
      <li>Diego Encinas – UN Jauretche</li>
      <li>Jorge Runco – UNLP</li>
      <li>Fernando Romero – UNLP</li>
      <li>Nelson Acosta – UNICEN</li>
    </ul>
  	<h3>Temas</h3>
  	<ul>
      <li>Señales y Arquitecturas orientadas al tratamiento de señales.</li>
      <li>Sensores. Redes de Sensores.</li>
      <li>Sistemas embebidos. Aplicaciones IoT.</li>
      <li>Robótica Autónoma. Robótica situada. Drones.</li>
      <li>Sistemas Industriales. Industrias 4.0. Manufactura Integrada por Computadora. Visión por computadora</li>
      <li>Modelos de Sistemas de Tiempo Real.</li>
      <li>Ingeniería de Software para STR.</li>
      <li>Verificación y Validación de STR.</li>
      <li>Redes, protocolos y Seguridad en STR.</li>
      <li>Sistemas de Tiempo Real duro.</li>
    </ul>
  </div>
</section>
