<section class="page-title">
  <div class="container">
    <h2>Workshop Seguridad Informática (WSI)</h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="/static_pages/workshops"><i class="fa fa-angle-right"> Workshops</i></a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="section-workshops">
  <div class="container-workshops">
  	<h3>Coordinadores</h3>
  	<ul>
      <li>Javier Diaz (UNLP)</li>
      <li>Hugo Ramón (UNNOBA)</li>
      <li>Claudio Aciti (UNCPBA)</li>
  	</ul>
    <h3>Comité Científico</h3>
    <ul>
      <li>Antonio Ricardo Castro Lechtaler (Argentina)</li>
      <li>Ariel Maiorano (Argentina)</li>
      <li>Carlos Acquistapace (Argentina)</li>
      <li>Carlos Benítez (Argentina)</li>
      <li>Carlos García Garino (Argentina)</li>
      <li>Edith García (Argentina)</li>
      <li>Javier Díaz (Argentina)</li>
      <li>Javier Echaiz (Argentina)</li>
      <li>Javier García Villalba (España)</li>
      <li>Julio César Liporace (Argentina)</li>
      <li>Lia Molinari (Argentina)</li>
      <li>Liane Tarouco (Brasil)</li>
      <li>Marcelo Cipriano (Argentina)</li>
      <li>Paula Venosa (Argentina)</li>
      <li>Raúl Saroka (Argentina)</li>
    </ul>
  	<h3>Temas</h3>
  	<ul>
      <li>Administración de Configuración de Software y Despliegue</li>
      <li>Administración de Proyectos de Software</li>
      <li>Arquitecturas y Diseño de Software</li>
      <li>Calidad de Software</li>
      <li>Dependabilidad y Confiabilidad del Software</li>
      <li>Desarrollo Ágil de Software</li>
      <li>Desarrollo de Software basado en Componentes</li>
      <li>Entornos para el Desarrollo de Software</li>
      <li>Evolución del Software</li>
      <li>Estándares para el Desarrollo de Software</li>
      <li>Herramientas de Software</li>
      <li>Herramientas y Tecnologías de la Web 2.0</li>
      <li>Ingeniería de Requerimientos de Software</li>
      <li>Ingeniería de Software Distribuido</li>
      <li>Ingeniería de Software Embebido y Tiempo Real</li>
      <li>Ingeniería de Software Empírica</li>
      <li>Ingeniería de Software para Sistemas Ubícuos y Móviles</li>
      <li>Ingeniería de Software para la Web</li>
      <li>Ingeniería Reversa</li>
      <li>Mantenimiento de Software</li>
      <li>Metodologías de Desarrollo de Software</li>
      <li>Métricas de Software</li>
      <li>Modelamiento de Software</li>
      <li>Modelamiento de Procesos de Negocio</li>
      <li>Orientación a Aspectos</li>
      <li>Patrones y Frameworks</li>
      <li>Plataformas como Servicios</li>
      <li>Políticas para el Software y para las TICs</li>
      <li>Privacidad</li>
      <li>Procesos de Software</li>
      <li>Reuso de Software</li>
      <li>Sistemas de Información</li>
      <li>Sistemas de Software basados en Cloud Computing</li>
      <li>Sistemas de Software Sensibles al Contexto</li>
      <li>Software como Servicio</li>
      <li>Soporte Computacional para Tareas Colaborativas</li>
      <li>Testeo de Software</li>
      <li>Teoría y Métodos Formales</li>
      <li>Verificación y Validación de Software</li>
      <li>Workflows</li>
    </ul>
  </div>
</section>
