<section class="page-title">
  <div class="container">
    <h2>Workshop Tecnología Informática aplicada en Educación (WTIAE)</h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="/static_pages/workshops"><i class="fa fa-angle-right"> Workshops</i></a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="section-workshops">
  <div class="container-workshops">
  	<h3>Coordinadores</h3>
  	<ul>
  	  <li>Gladys Gorga (UNLP)</li>
  	  <li>Alejandra Malberti (UNSJ)</li>
  	  <li>Claudia Russo (UNNOBA)</li>	
  	</ul>
    <h3>Comité Científico</h3>
    <ul>
      <li>Baldasarri, Sandra (España)</li>
      <li>Cukierman, Uriel (Argentina)</li>
      <li>Depetriz, Beatriz (Argentina)</li>
      <li>Gorga Gladys (Argentina)</li>
      <li>Lanzarini, laura (Argentina)</li>
      <li>Madoz Cristina (Argentina)</li>
      <li>Malberti,Alejandra (Argentina)</li>
      <li>Malbran, María (Argentina)</li>
      <li>Manresa Yee, Cristina (España)</li>
      <li>Rueda Sonia (Argentina)</li>
      <li>Russo Claudia (Argentina)</li>
      <li>Sanz Cecilia (Argentina)</li>
    </ul>
  	<h3>Temas</h3>
	  <ul>
      <li>Diseños y desarrollos de TICs orientadas a la Educación</li>
   	  <li>Análisis de nuevas TICs para aplicar en la educación</li>
      <li>Entornos y ambientes de soporte para Educación a Distancia</li>
      <li>Hipermedias educativas</li>
      <li>Laboratorios Virtuales</li>
      <li>Simulación, Visualización y Realidad Virtual aplicadas en Educación</li>
      <li>Aplicaciones educativas de la Inteligencia Artificial</li>
      <li>Laboratorios Remotos</li>
      <li>Métricas de Calidad de productos TICs aplicados a educación</li>
      <li>Tecnología para ambientes e-learning</li>
      <li>Tecnología para ambientes m-learning</li>
    </ul>
  </div>
</section>