<section class="page-title">
  <div class="container">
    <h2>Track "Gobierno Digital y Ciudades Inteligentes"</h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="/static_pages/workshops"><i class="fa fa-angle-right"> Workshops</i></a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="section-workshops">
  <div class="container-workshops">
  	<h3>Coordinadores</h3>
  	<ul>
  	  <li>Elsa Estevez (UNS)</li>
  	  <li>Ariel Pasini(UNLP)</li>
  	</ul>
  	<h3>Temas:</h3>
  	<ul>
      <li>Administración de cambios en instituciones públicas</li>
      <li>Administración de conocimiento en gobierno</li>
      <li>Administración de interesados</li>
      <li>Administración de registros públicos digitales</li>
      <li>Arquitecturas empresariales gubernamentales</li>
      <li>Asociaciones público-privadas</li>
      <li>Automatización de procesos administrativos gubernamentales</li>
      <li>Calidad de datos abiertos</li> 
      <li>Censura y restricción de datos abiertos</li>
      <li>Ciberseguridad en gobierno</li>
      <li>Co-creación de datos abiertos para beneficios sociales</li>
      <li>Compartir información de gobierno</li>
      <li>Computación en la nube gubernamental</li>
      <li>Diseño y entrega de servicios públicos digitales</li>
      <li>Estándares de metadatos para datos abiertos</li>
      <li>Infraestructura tecnológica para datos abiertos</li> 
      <li>Innovación con datos abiertos</li>
      <li>Integración de procesos administrativos gubernamentales</li>
      <li>Marcos de interoperabilidad</li>
      <li>Portales de información de gobierno</li>
      <li>Protección de datos personales</li>
      <li>Reingeniería de procesos administrativos gubernamentales</li>
      <li>Seguridad de la infraestructura de información de gobierno</li>
      <li>Servicios compartidos</li>
      <li>Sistemas y servicios de energía inteligente</li>
      <li>Sistemas y servicios de movilidad inteligente</li>
      <li>Sistemas y servicios para ciudades inteligentes</li>
      <li>Sistemas y servicios para gestión del agua</li>
      <li>Sistemas y servicios para protección del medio ambiente</li> 
      <li>Soluciones para participación ciudadana</li>
      <li>Tableros de control para gestión municipal</li>
    </ul>
  </div>
</section>
