<section class="page-title">
	<div class="container">
		<h2>Autoridades</h2>
		<ul class="list-inline">
			<li><a href="/">Home</a></li>
			<li><a href="#"><i class="fa fa-angle-right"></i> Autoridades</a></li>
		</ul><!-- /.list-inline -->
	</div><!-- /.container -->
</section><!-- /.page-title -->

<section class="about-section sec-pad">
	<div class="container">
		<div class="col-md-6">
			<br />
			<br />
			<h4>Comité Académico</h4>
			<h3>CACIC<span>2019</span></h3>
			<br />
<ul>
  <li>UBA – Cs. Exactas Garbervetsky, Diego</li>
  <li>UBA – Ingeniería Echeverria, Adriana</li>
  <li>UN La Plata Pesado, Patricia</li>
  <li>UN Sur Rueda, Sonia</li>
  <li>UN San Luis Piccoli, Fabiana</li>
  <li>UNCPBA Aciti, Claudio</li>
  <li>UN Comahue Vaucheret, Claudio</li>
  <li>UN La Matanza Spositto, Osvaldo</li>
  <li>UN La Pampa Alfonso, Hugo</li>
  <li>UN Lomas de Zamora Estayno, Marcelo</li>
  <li>UNTierra del Fuego Feierherd, Guillermo</li>
  <li>UN Salta Gil, Gustavo</li>
  <li>UN Patagonia Austral Lasso, Marta</li>
  <li>UN SanJuan Rodriguez, Nelson</li>
  <li>UADER Vivas, Patricia</li>
  <li>UN Patagonia SJB Buckle, Carlos</li>
  <li>UN Entre Ríos Tugnarelli, Mónica</li>
  <li>UN Nordeste Dapozo, Gladys</li>
  <li>UN Rosario Kantor Raul</li>
  <li>UN Misiones Kuna, Horacio</li>
  <li>UNNOBA Russo, Claudia</li>
  <li>UN Chilecito Carmona, Fernanda</li>
  <li>UN Lanús Azcurra, Diego</li>
  <li>UN Santiago del Estero Duran, Elena</li>
  <li>Esc. Sup. Ejército Arroyo Arzubi, Alejandro</li>
  <li>UN Litoral Loyarte, Horacio</li>
  <li>UN Rio IV Arroyo, Marcelo</li>
  <li>UN Córdoba Fridlender, Daniel</li>
  <li>UN Jujuy Herrera Cognetta, Analía</li>
</ul>

		</div><!-- /.col-md-6 -->
		<div class="col-md-6">
<br />
<br />
<h4>&nbsp;</h4>
<h3>&nbsp;</h3>
<br />
<ul>
  
  <li>UN Rio Negro Vivas, Luis</li>
  <li>UN Villa María Prato, Laura</li>
  <li>UN Lujan Panessi, Wálter</li>
  <li>UN Catamarca Poliche Maria Valeria</li>
  <li>UN La Rioja Campazzo Eduardo</li>
  <li>UN Tres de Febrero Oliveros, Alejandro</li>
  <li>UN Tucumán Luccioni, Griselda María</li>
  <li>UNAJ Morales, Martín</li>
  <li>UN Chaco Austral Zachman Patricia</li>
  <li>UN del Oeste Foti, Antonio</li>
  <li>UN de Cuyo García Garino, Carlos</li>
  <li>UN de Mar del Plata Doumecq, Julio Cesar</li>
  <li>U Morón Padovani Hugo</li>
  <li>UAI De Vincenzi, Marcelo</li>
  <li>U Belgrano Guerci, Alberto</li>
  <li>U kennedy Panizzi, Marisa</li>
  <li>U Adventista del Plata Bournissen Juan</li>
  <li>UCAECE Finocchieto, Jorge</li>
  <li>U Palermo Alvarez Adriana</li>
  <li>UCA Rosario Grieco, Sebastián</li>
  <li>U Salvador Zanitti, Marcelo</li>
  <li>U Aconcagua Giménez, Rosa</li>
  <li>U Gastón Dachary Beyersdorf, Carlos</li>
  <li>UCEMA Guglianone, Ariadna</li>
  <li>U Austral Cosentino, Juan Pablo</li>
  <li>U Atlántida Argentina Rathmann, Liliana</li>
  <li>UCA La Plata Bertone, Rodolfo</li>
  <li>ITBA Mon, Alicia</li>
  <li>U Champagnat Pinciroli, Fernando</li>
</ul>			
		</div><!-- /.col-md-6 -->
	</div><!-- /.container -->
</section><!-- /.about-section -->


<section class="about-section sec-pad">
  <div class="container">
    <div class="col-md-6">
      <br />
      <br />
      <h4>Comité Organizador</h4>
      <h3>CACIC<span>XXV</span></h3>
      <br />
      <br />
      <p>
        <ul>
          <li>Marcelo Arroyo (Presidente)</li>
          <li>Nazareno Aguirre</li>
          <li>Germán Regis</li>
          <li>Marcela Daniele</li>
          <li>Sonia Permigiani</li>
          <li>Pablo Castro</li>
          <li>Francisco Bavera</li>
          <li>María Marta Novaira</li>
          <li>Pablo Ponzio</li>
          <li>Valeria Bengolea</li>
          <li>Renzo Degiovanni</li>
          <li>Ariel Arsaute</li>
          <li>Ariel González</li>
          <li>Marcelo Uva</li>
          <li>César Cornejo</li>
          <li>Mariano Politano</li>
          <li>Cecilia Kilmurray</li>
          <li>Franco Brusatti</li>
          <li>Gastón Scilingo</li>
          <li>Facundo Molina</li>
          <li>Ernesto Cerdá</li>
          <li>Fabio Zorzán</li>
        </ul>
      </p>
      <br />

    </div><!-- /.col-md-6 -->
  </div><!-- /.container -->
</section><!-- /.about-section -->
