<section class="page-title">
  <div class="container">
    <h2>Papers Aceptados</h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i>Papers Aceptados</a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->


<section class="event-sponsor sec-pad">
  <div class="container">
    <div class="sec-title text-center">
  <div class="cfp">
     <h4> <strong>En el siguiente archivo se encuentran los papers que fueron aceptados por los evaluadores.</strong> </h4>
     

      <h5><%= link_to 'Papers Aceptados', static_pages_download_accepted_paper_url %></h5>


    </div>
  </div>
</div>

</section>

