<section class="page-title">
  <div class="container">
    <h2><%= t 'accomodations' %></h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i> <%= t 'accomodations' %></a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="event-sponsor sec-pad">
  <div class="container">
    <div class="sec-title text-center">
      <h2><%= t 'accomodations' %></h2>
    </div>
  
  <div class=accom>
  <p class="justi">CACIC 2019 no se encarga de las reservas de alojamiento a hoteles. Para acceder a los precio que se mencionan a continuacion, en todos los casos debe mencionar que asisten a CACIC.

  Debido a la limitada capacidad hotelera de la ciudad, se sugiere realizar las reservas con anticipación.</p>
  
   <div class="sec-title text-center"></div>
    <div class="col-md-6">
    <div>
      <li> <h4><a href="http://www.riopalacehotel.com.ar">Hotel Rio Palace </a>  </h4></li>
      <p>Dirección: Av. España 314<br>
      Teléfono:+54 (358) 4642134<br>
      Habitacion Doble : $ 1750 por dia<br>
      Habitacion Triple : $ 1999 por dia<br>
      Habitacion Cuádruple : $ 2250 por dia<br>
      <br>
      Incluye: cochera cubierta, desayuno, wifi<br>
      <br>
     </p>
   </div>
      <div>
      <li> <h4><a href="https://www.wyndhamhotels.com/hojo/rio-cuarto-argentina/howard-johnson-rio-cuarto-casino/overview?CID=LC:HJ::GGL:RIO:National:16030&iata=00093796" target="_blank">Howard Johnson </a>  </h4></li>

      <p>Dirección: Cap. M. Giachino 551<br>
  		Teléfono:+54 (358) 4677700<br>
      Habitacion single/doble : $ 2512,39 + IVA por dia<br>
      <br>
      Incluye: Desayuno buffet, Sauna, Jacuzzi, Gimnasio, Wifi, Servicio de emergencia<br>
  		<br>
     </p>
   </div>
   

    <div>
      <li> <h4><a href="http://www.operahotel.com.ar" target="_blank">Ópera Hotel</a>  </h4></li>
      <p>Dirección: 25 de mayo 55<br>
      Teléfono:+54 (358) 4640400<br>
      Habitacion single : $2120 - $1900 Efectivo/Débito <br>
      Habitacion doble : $2720 - $2500 Efectivo/Débito<br>
      Habitacion Triple : $3750 - $3400 Efectivo/Débito<br>
      Habitacion doble : $4180 - $3750 Efectivo/Débito<br>
      Dpto 4 Personas : $4600 - $4150 Efectivo/Débito<br>

      <br>
      Incluye: desayuno. buffet, cochera, wifi<br>
      Efectivo: 10% descuento al precio mencionado<br>
      <br>
     </p>
    </div>

    <div>
      <li> <h4><a href="http://www.hotelmenossi.com" target="_blank">Hotel Menossi </a>  </h4></li>

      <p>Dirección: Av. España<br>
      Teléfono:+54 (358) 4644151<br>
      Habitacion Single : $ 1200 por dia<br>
      Habitacion Doble : $ 1900 por dia<br>
      Habitacion Triple : $ 2300 por dia<br>
      Habitacion Cuadruple : $ 2700 por dia<br>
      <br>
      Incluye: Desayuno buffet, wifi<br>
      Tarjeta de credito 10% de recargo<br>
      <br>
     </p>
    </div>

    <div>
      <li> <h4><a href="http://www.grandhotelriocuarto.com.ar" target="_blank">Hotel Grand Hotel </a>  </h4></li>      

      <p>Dirección: Sobremonte 725/35<br>
      Teléfono:+54 (358) 4646403<br>
      Habitacion Doble : $ 1600 por dia<br>
      Habitacion Triple : $ 1900 por dia<br>
      Dpto. para 4 personas : $ 2100 por dia<br>
      Dpto. para 5 persoans : $ 2300 por dia<br>
      <br>
      Incluye: Desayuno, wifi, cochera, tv, aire, calefaccion<br>
      5% descuento al precio mencionado<br>
      <br>
     </p>
    </div>

    <div>
      <li> <h4>Apart Universidad</h4></li>
      <p>Dirección: Ruta 36 km. 602 (frente a la UNRC)<br>
      Teléfono:+54 (358)468-0302 - 156008054<br>
     </p>
    </div>
    
    </div><!-- /.col-md-6 -->
    <div class="col-md-6">

    <div>
      <li> <h4><a href="http://www.posadadelviajero.com" target="_blank">Hotel Posada del Viajero </a>  </h4></li>      
      <p>Dirección: General Paz 1043<br>
      Teléfono:+54 (358) 4645278<br>
      Habitacion Doble standars : $ 1350 por dia<br>
      Habitacion Doble superior: $ 1650 por dia<br>
      Habitacion Triple superior: $ 2000 por dia<br>
      Habitacion Cuadruple superior: $ 2500 por dia<br>
      <br>
      Incluye: Desayuno, wifi<br>
      Cuenta con restaurante al mediodia y a la noche. <br>
      Menú del dia $300 (Entrada,plato principal, bebida y postre) o a la carta<br>
      <br>
     </p>
    </div>

    <div>
      <li> <h4><a href="http://www.cityhotelriocuarto.com" target="_blank">City Hotel </a>  </h4></li>      
      <p>Dirección: Lamadrid 701 Esquina Belgrano<br>
      Teléfono:+54 (358) 4634503<br>
      Para promociones comunicarse a: info@cityhotelriocuarto.com.ar<br>
       <br>
     </p>
    </div>

    <div>
      <li> <h4><a href="http://www.hotelcariel.com" target="_blank"> Hotel Carriel</a>  </h4></li>      

      <p>Dirección: Buenos Aires 364<br>
      Teléfono:+54 (358) 4645233<br>
      Habitacion Doble : $ 1300 por dia<br>
      Habitacion Triple : $ 1400 por dia<br>
      Habitacion Cuadruple : $ 1600 por dia<br>
      Habitacion Quintuple : $ 1750 por dia<br>
      <br>
      Incluye: Desayuno<br>
      <br>
     </p>
    </div>

    <div>
      <li> <h4><a href="http://www.actiweb.es/hotelmalvinas/" target="_blank">Hotel Malvinas</a>  </h4></li>
      <p>Dirección: Km 5, Ruta Nacional A005<br>
      Teléfono:+54 (358) 4650169/154386085<br>
      Habitacion single : $850 por dia <br>
      Habitacion doble : $1350 por dia <br>
      Habitacion Triple : $1700 por dia <br>
      Habitacion doble : $1900 por dia <br>

      <br>
      Incluye: desayuno. wifi, cochera, iva<br>
      <br>
     </p>
    </div>

    <div>
      <li> <h4><a href="https://www.booking.com/hotel/ar/chrome.es-ar.html" target="_blank">Hotel Chrome </a>  </h4></li>      

      <p>Dirección: Alonso 162<br>
      Teléfono:+54 (358) 4643255<br>
      <br>
      10% descuento al precio habitual<br>
      <br>
     </p>
    </div>

    <div>
      <li> <h4><a href="https://www.sancarlosriocuarto.com.ar" target="_blank">San Carlos </a>  </h4></li>      

          <p>Dirección: Urquiza 48<br>
      Teléfono:+54 (358) 4621683<br>
      Habitacion Single : $950 por dia <br>
      Habitacion Doble : $1500 por dia <br>
      Habitacion Triple : $2050 por dia <br>
      Habitacion Cuadruple : $2550 por dia <br>
      Habitacion Quintulples : $2900 por dia <br>
      <br>
      Incluye: desayuno. wifi, cochera<br>
      <br>
     </p>
    </div>


    </div><!-- /.col-md-6 -->
</div>
</div>


</section>
