<section class="page-title">
  <div class="container">
    <h2>Alojamientos</h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i> Alojamientos</a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="event-sponsor sec-pad">
  <div class="container">
    <div class="sec-title text-center">
      <h3> Alojamientos </h3>
    </div>
  
  <p class="justi">CACIC 2019 no se encarga de las reservas de alojamiento a hoteles. Las mismas deberán gestionarse dirigiéndose directamente a los hoteles. Debido a la limitada capacidad hotelera de la ciudad, se sugiere realizar las reservas con anticipación.</p>
  
   <div class="sec-title text-center"></div>
    <div class="col-md-6">
      <li> <h4>Howard Johnson </h4></li>
      <p>Dirección: Cap. M. Giachino 551<br>
  		Teléfono:+54 (358) 4677700<br>
  		E-mail: reservasriv@cetsa.com.ar<br>
  		Categoría: * * * * <br>
     </p>
   

    <div>
      <li> <h4>Ópera Hotel  </h4></li>
      <p>Dirección: 25 de mayo 55<br>
      Teléfono:+54 (358) 4640400<br>
      E-mail: operahot@satlink.com<br>
      Categoría: * * * * <br>
     </p>
    </div>

    <div>
      <li> <h4>Hotel Menossi </h4></li>
      <p>Dirección: Av. España<br>
      Teléfono:+54 (358) 4644151<br>
      E-mail: reservasriv@hotelmenossi.com<br>
      Categoría: * * * * <br>
      <br>
     </p>
    </div>

    <div>
      <li> <h4>Grand Hotel </h4></li>
      <p>Dirección: Sobremonte 725<br>
      Teléfono:+54 (358) 4646403<br>
      E-mail: granote@infovia.com<br>
      Categoría: * * *<br>
     </p>
    </div>
   
    </div><!-- /.col-md-6 -->
    <div class="col-md-6">

    <div>
      <li> <h4>Hotel Crillón </h4></li>
      <p>Dirección: General Paz 1043<br>
      Teléfono:+54 (358) 4645278<br>
      E-mail: informacion@crillonriocuarto.com.ar<br>
      Categoría: * * *
     </p>
    </div>

    <div>
      <li> <h4>City Hotel </h4></li>
      <p>Dirección: Lamadrid 701 Esquina Belgrano<br>
      Teléfono:+54 (358) 4634503<br>
      E-mail: info@cityhotelriocuarto.com.ar<br>
      Categoría: * *<br>
     </p>
    </div>

    <div>
      <li> <h4>Hotel Cristal</h4></li>
      <p>Dirección: Constitución 544<br>
      Teléfono:+54 (358) 4624778<br>
      E-mail: hotelcristalrio4@arnet.com.ar<br>
      Categoría: * *<br>
     </p>
    </div>

    <div>
      <li> <h4>Casa Apart</h4></li>
      <p>Dirección: Chile 644<br>
      Teléfono:+54 (358) 4621082<br>
      Página web: http://www.casaapart.com.ar<br>
      Departamentos de 7 personas<br>
     </p>
    </div>

    <div>
      <li> <h4>Apart Universidad</h4></li>
      <p>Dirección: Ruta 36 km. 602 (frente a la UNRC)<br>
      Teléfono:+54 (358)468-0302 - 156008054<br>
     </p>
    </div>
    </div><!-- /.col-md-6 -->

       
</section>
