<section class="page-title">
  <div class="container">
    <h2>Ateneo</h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i> Ateneo</a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->


<section class="speaker-section sec-pad speaker-page">
  <div class="container">
    <div class="sec-title text-center">
      <h5>CACIC 2019</h5>
      <h2>Ateneo</h2>
    </div><!-- /.sec-title text-center -->

    <center>
      <div class="row">
        <h2>Mara Borchardt, de Fundaci칩n Sadosky, disertar치 en el marco del Ateneo de Profesores Universitarios de Computaci칩n </h2>
        <div class="col-md-12">
          <div class="single-speaker">
            <div class="img-box">
              <%= image_tag('speakers/mara.jpg', size: '250x250') %>
              <div class="overlay-box">
                <div class="display-table">
                  <div class="display-table-cell">
                  </div><!-- /.display-table-cell -->
                </div><!-- /.display-table -->
              </div><!-- /.overlay-box -->
            </div><!-- /.img-box -->
            <h3><%= link_to 'Mara Borchardt', 'http://www.fundacionsadosky.org.ar/?team=mara', target: "_blank" %></h3>
            <p>Fundaci칩n Sadosky</p>
          </div><!-- /.single-speaker -->
        </div><!-- /.col-md-3 -->
      </div>
    </center>
  </div>
</section>
