<section class="page-title">
  <div class="container">
    <h2>Call for Papers</h2>
    <ul class="list-inline">
      <li><a href="#">Home</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i>Congreso</a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->


<section class="event-sponsor sec-pad">
  <div class="container">
    <div class="sec-title text-center">
      <h5><%= link_to 'Download PDF', static_pages_download_cpf_url %></h5>

      <%= image_tag('cfp_header_cacic.png') %>

      <h3> XXV CONGRESO ARGENTINO DE CIENCIAS DE LA COMPUTACIÓN </h3>

      <h4>14 al 18 de octubre de 2019</h4>

      <h4>Dpto. de Comptación – FCEFQyN – Universidad Nacional de Río Cuarto</h4>

      <h4>RÍO CUARTO - CÓRDOBA – ARGENTINA</h4>

      <a href="https://dc.exa.unrc.edu.ar/cacic2019/">https://dc.exa.unrc.edu.ar/cacic2019</a>
    </div><!-- /.sec-title text-center -->

    <div class="cfp">
      <p class="justi"> El Congreso Argentino de Ciencias de la Computación (CACIC) es organizado por la Red de Universidades Nacionales con carreras en Informática (RedUNCI). El CACIC reúne desde 1995 a investigadores, docentes, profesionales y alumnos de grado y postgrado vinculados con la disciplina Informática.
      </p>
      <p>El Congreso cubre diferentes áreas a través de la organización de Workshops, coordinados por expertos en los temas del área. En estos Workshops se presentan trabajos científicos evaluados por investigadores del país y del exterior.
      </p>

      <p class="text-uppercase">
        <strong>ACTIVIDADES PREVISTAS</strong> 
      </p>

      <ul class="list-unstyled">
        <li>XIX Workshop Agentes y Sistemas Inteligentes (<strong>WASI</strong>)</li>
        <li>XIX Workshop Procesamiento Distribuido y Paralelo (<strong>WPDP</strong>)</li>
        <li>XVII Workshop Tecnología Informática Aplicada en Educación (<strong>WTIAE</strong>)</li>
        <li>XVI Workshop Computación Gráfica, Imágenes y Visualización (<strong>WCGIV</strong>)</li>
        <li>XV Workshop Bases de Datos y Minería de Datos (<strong>WBDDM</strong>)</li>
        <li>XV Workshop Ingeniería de Software (<strong>WIS</strong>)</li>
        <li>XIII Workshop Arquitectura, Redes y Sistemas Operativos (<strong>WARSO</strong>)</li>
        <li>X Workshop Innovación en Sistemas de Software (<strong>WISS</strong>)</li>
        <li>IX Workshop Procesamiento de Señales y Sistemas de Tiempo Real (<strong>WPSTR</strong>)</li>
        <li>VII Workshop innovación en educación en informática (<strong>WIE</strong>)</li>
        <li>VII Workshop seguridad informática (<strong>WSI</strong>)</li>
      </ul>


      <p class="text-uppercase">
        <strong>OTRAS ACTIVIDADES</strong> 
      </p>

      <ul class="list-unstyled">
        <li>XXVI Ateneo de profesores universitarios de computación</li>
        <li>XXII Escuela Internacional de Informática</li>
        <li>Conferencias y Paneles relacionados con la disciplina, con la participación de académicos y profesionales.</li>
      </ul>


      <p class="text-uppercase">
        <strong>ACTAS</strong> 
      </p>
      
      <p> Todos los artículos aceptados se publicarán en las actas del congreso con ISBN incluido y serán incluidos en el repositorio SEDICI de la Universidad Nacional de La Plata.
      </p>

      <p class="text-uppercase">
        <strong>MEJORES TRABAJOS</strong> 
      </p>

      <p>
        Los mejores artículos serán seleccionados para su publicación en el Libro del CACIC 2019. Estos artículos deberán estar escritos en idioma inglés.
      </p>

      <p class="text-uppercase">
        <strong>OTROS TRABAJOS RELEVANTES</strong>
      </p>

      <p>
        Los autores de otros trabajos relevantes serán invitados a enviar una versión apropiadamente extendida y revisada a las revistas <a href="http://journal.info.unlp.edu.ar/">Journal of Computer Science and Technology, JCS&T</a> y <a href="http://teyet-revista.info.unlp.edu.ar/">Revista Iberoamericana de Tecnología en Educación y Educación en Tecnología, TE&E. JCS&T</a> está indexada en Latindex, DOAJ, Google Scholar, REDIB, entre otros; mientras que TE&ET está indexada en Latindex, Nucleobásico, Scielo, DOAJ, Google Scholar, REDIB, entre otros.
      </p>

      <p class="text-uppercase">
        <strong>FECHAS IMPORTANTES</strong>
      </p>

      <ul class="list-unstyled">
        <li>Límite para la presentación de trabajos: <strong>29/07/2019</strong></li>
        <li>Notificación a los autores de aceptación o rechazo: <strong>09/09/2019</strong></li>
        <li>Límite para la inscripción de alumnos a la escuela: <strong>06/09/2019</strong></li>
        <li>Notificación a los alumnos de la escuela: <strong>13/09/2019</strong></li>
      </ul>

      <p class="text-uppercase">
        <strong>INSTRUCCIONES PARA LOS AUTORES</strong>
      </p>

      <p>
        Los trabajos pueden enviarse en castellano, inglés o portugués siguiendo las normas especificadas en: <a href="https://dc.exa.unrc.edu.ar/cacic2019/">https://dc.exa.unrc.edu.ar/cacic2019</a>
      </p>

      <p class="text-uppercase">
        <strong>CONTACTOS:</strong>
      </p>

      <ul>
        <li><a href="mailto:cacic2019@dc.exa.unrc.edu.ar">cacic2019@dc.exa.unrc.edu.ar</a> </li>
        <li><a href="mailto:escuelacacic2019@dc.exa.unrc.edu.ar">escuelacacic2019@dc.exa.unrc.edu.ar</a> </li>
      </ul> 
    </div>
  </div>
</section>
