<section class="page-title">
  <div class="container">
    <h2>Contactenos</h2>
    <ul class="list-inline">
      <li><a href="#">Home</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i> Contacto</a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="contact-section sec-pad">
  <div class="container">
    <div class="sec-title text-center">
      <h5>Contacto</h5>
      <h2>Contactenos</h2>
      <p>Escribanos para cualquier consulta</p>
    </div><!-- /.sec-title text-center -->
    <div class="row">
      <div class="col-md-7">
        <form action="#">
          <input type="text" placeholder="Your Name" />
          <input type="text" placeholder="Enter Name" />
          <input type="text" placeholder="Phone Number" />
          <textarea placeholder="Your Message"></textarea>
          <button type="submit" class="btn">Send Message</button>
        </form>
      </div><!-- /.col-md-8 -->
      <div class="col-md-5">
        <div class="contact-info-box">
          <p>Lorem ipsum dolor sit amet, consectetur adipis elit sed do eiusmod tempor</p>
          <br />
          <ul class="contact-info">
            <li class="clearfix">
              <div class="icon-box">
                <i class="fa fa-map-marker"></i>
              </div><!-- /.icon-box -->
              <div class="text-box">
                <h3>Location</h3>
                <p>enlace ruta 8 y 36 km 601 <br /> Río Cuarto</p>
              </div><!-- /.text-box -->
            </li>
            <li class="clearfix">
              <div class="icon-box">
                <i class="fa fa-phone"></i>
              </div><!-- /.icon-box -->
              <div class="text-box">
                <h3>Phone Number</h3>
                <p>(+48) 564-334-21-22-34 <br /> (+48) 564-334-21-22-38</p>
              </div><!-- /.text-box -->
            </li>
            <li class="clearfix">
              <div class="icon-box">
                <i class="fa fa-envelope"></i>
              </div><!-- /.icon-box -->
              <div class="text-box">
                <h3>Email</h3>
                <p>info@templatepath.com <br /> info@gardenors.com</p>
              </div><!-- /.text-box -->
            </li>
          </ul><!-- /.contact-info -->
        </div><!-- /.contact-info-box -->
      </div><!-- /.col-md-8 -->
    </div><!-- /.row -->
  </div><!-- /.conatiner -->
</section><!-- /.contact-section -->

<div 
  class="google-map" 
  id="home-google-map" 
  data-map-lat="40.686767" 
  data-map-lng="-73.373455" 
  data-icon-path="img/map-marker.png"
  data-map-title="Brooklyn, New York, United Kingdom"
  data-map-zoom="11"
  data-markers='{
            "marker-1": [40.686767, -73.373455, "<h4>Main Office</h4><p>Babylon Branch , Lindenhurst, UK</p>"],
            "marker-2": [40.713990, -73.559016, "<h4>Branch Office</h4> <p>291 Park Ave S, East Meadow, UK</p>"],
            "marker-3": [40.664270, -73.708464, "<h4>Branch Office</h4> <p>230 Park Ave S, Vally Stream, UK</p>"],
            "marker-4": [40.663712, -73.500526, "<h4>Branch Office</h4> <p>230 Park Ave S, Sea Ford, UK</p>"]
        }'>

</div>
