<section class="page-title">
  <div class="container">
    <h2>Contactenos</h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i> Contacto</a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="contact-section sec-pad">
  <div class="container">
    <div class="sec-title text-center">
      <h5>Contacto</h5>
      <h2>Contactenos</h2>
      <p>Escribanos por cualquier consulta</p>
    </div><!-- /.sec-title text-center -->
    <div class="row">
      <div class="col-md-7">
        <form id="formContact" action="https://formspree.io/cacic2019@dc.exa.unrc.edu.ar" method="POST"/>
          <label for="formName" >Nombre</label>
          <input type="text" id="formName" name="formName" placeholder="Nombre"/>
          <label for="formSurname" >Apellido</label>
          <input type="text" id="formSurname" name="formSurname" placeholder="Apellido"/>
          <label for="formPhoneNumber" >Numero</label>
          <input type="text" id="formPhoneNumber" name="formPhoneNumber" placeholder="Numero de Telefono"/>
          <label for="formEmail" >Email</label>
          <input type="text" id="formEmail" name="formEmail" placeholder="Email"/>
          <label for="formMessage" >Mensaje</label>
          <textarea id="formMessage" name="formMessage" placeholder="Mensaje"></textarea>
          <button type="submit" id="formSend" name="formSend" class="btn">Enviar el Mensaje</button>
        </form>
      </div><!-- /.col-md-8 -->
      <div class="col-md-5">
        <div class="contact-info-box">
          <p></p>
          <br />
          <ul class="contact-info">
            <li class="clearfix">
              <div class="icon-box">
                <i class="fa fa-map-marker"></i>
              </div><!-- /.icon-box -->
              <div class="text-box">
                <h3>Ubicacion</h3>
                <p>Enlace ruta 8 y 36 km 601 <br /> Río Cuarto</p>
              </div><!-- /.text-box -->
            </li>
            <li class="clearfix">
              <div class="icon-box">
                <i class="fa fa-phone"></i>
              </div><!-- /.icon-box -->
              <div class="text-box">
                <h3>number </h3>
                <p>[+54] 358 467-6235</p>
              </div><!-- /.text-box -->
            </li>
            <li class="clearfix">
              <div class="icon-box">
                <i class="fa fa-envelope"></i>
              </div><!-- /.icon-box -->
              <div class="text-box">
                <h3>Email</h3>
                <p>cacic2019@dc.exa.unrc.edu.ar</p>
              </div><!-- /.text-box -->
            </li>
          </ul><!-- /.contact-info -->
        </div><!-- /.contact-info-box -->
      </div><!-- /.col-md-8 -->
    </div><!-- /.row -->
  </div><!-- /.conatiner -->
</section><!-- /.contact-section -->
<div id="map"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA59rHhCakhATZWRrsqWAYy4WsMi3bz8TM&callback=initMap"
async defer></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/additional-methods.js"></script>