<section class="page-title">
  <div class="container">
    <h2>Formato Paper</h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i>Formato Paper</a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->


<section class="event-sponsor sec-pad">
  <div class="container">
    <div class="sec-title text-center">

      <h3> Formato de Papers </h3>

      <hl />

      <div class="paper-format">
        <p>
          Los autores deben enviar sus trabajos por la página WEB del Congreso, con las siguientes pautas:
        </p>

        <p>Idioma: español, inglés o portugués.</p>

        <p>Máximo 10 páginas sin numerar. Sin encabezado y pie de página.</p>

        <p>En general todos los artículos pueden enviarse en WORD, LATEX o PDF. En caso de que su artículo haya sido seleccionado para publicar en el Libro de mejores trabajos CACIC 2019, deberá adecuarse al formato estipulado por Springer CCIS.</p>

        <p>
          Formato LNCS. A continuación se añade la información, plantilla y ejemplo del formato en diferentes editores de texto:
        </p>

        <ul>
          <li><%= link_to 'LaTeX2e.zip', paper_format_download_url('LaTeX2e') %></li>
          <li><%= link_to 'Office2007.zip', paper_format_download_url('Office2007') %></li>
          <li><%= link_to 'word-97-2003.zip', paper_format_download_url('word-97-2003') %></li>
          <li><%= link_to 'templateLNCS.odt', paper_format_download_url('templateLNCS') %></li>
        </ul>
      </div>
    </div><!-- /.sec-title text-center -->
  </div>
</section>
