<section class="page-title">
  <div class="container">
    <h2>Incripciones y Aranceles</h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i>Congreso</a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->


<section class="event-sponsor sec-pad">
  <div class="container">
    <div class="sec-title text-center" >

     <h3> Incripciones </h3>
	 
	 <h3 class="warning"> 
		<strong>
     		El formulario de inscripción se habilitará a la brevedad.
     	</strong>
    </h3>
    
    </div><!-- /.sec-title text-center -->
  </div>
</section>
