<section class="page-title">
  <div class="container">
    <h2><%= t 'transportation' %></h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i> <%= t 'campus' %></a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="event-sponsor sec-pad">
  <div class="container">
    <div class="sec-title text-center">
      <h2><%= t 'campus' %></h2>
    </div>

    <center>
	<div class="sec-title">
	    <iframe src="https://www.google.com/maps/d/embed?mid=1tFasYWQTlC2lTW560V-q9ty2lO4v-uXL&z=16" width="760px" height="660px"></iframe>
	 </div>
    </center>

       
</div>
</section>

    
  