<section class="page-title">
  <div class="container">
    <h2>Actividades Plenarias</h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i> Actividades Plenarias</a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->


<section class="speaker-section sec-pad speaker-page">
  <div class="container">
    <div class="sec-title text-center">
      <h5>CACIC 2019</h5>
      <h2>Actividades Plenarias</h2>
      <h3><u> Charla Invitada</u></h3>
      <h3>“Redes neuronales: orígenes y fundamentos del aprendizaje profundo”</h3>
    </div><!-- /.sec-title text-center -->

    <center>
      <div class="row">
        <div class="col-md-12">
          <div class="single-speaker">
            <div class="img-box">
              <%= image_tag('speakers/diegomilone.png', size: '250x250') %>
              <div class="overlay-box">
                <div class="display-table">
                  <div class="display-table-cell">
                  </div><!-- /.display-table-cell -->
                </div><!-- /.display-table -->
              </div><!-- /.overlay-box -->
            </div><!-- /.img-box -->
            <h3><%= link_to 'Diego Milone', 'http://sinc.unl.edu.ar/staff/diego-milone/', target: "_blank" %></h3>
            <p>Universidad Nacional del Litoral y CONICET</p>
          </div><!-- /.single-speaker -->
        </div><!-- /.col-md-3 -->
      </div>
    </center>
  </div>
</section>
  
<hr>
<section class="speaker-section sec-pad speaker-page">
  <div class="container">
  <div class="sec-title text-center">
    <h3><u><li><a href="<%= static_pages_athenaeum_url %>">Ateneo de Profesores</a></li> </u></h3>
  </div><!-- /.sec-title text-center -->
  </div>
</section>

<hr>
<section class="speaker-section sec-pad speaker-page">
  <div class="container">
  <div class="sec-title text-center">
    <h3><u>   <li><a href="<%= static_pages_school_url %>">Escuela de Informática</a>
</li></u></h3>
  </div><!-- /.sec-title text-center -->
  </div>
</section>

