<section class="page-title">
  <div class="container">
    <h2>Escuela</h2>
    <ul class="list-inline">
      <li><a href="#">Home</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i> Escuela</a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->


<section class="school">
  <div>
    <center>
      <h2>Cursos de la XXIII Escuela Internacional informática</h2>
    </center>
    <ul class="courses">
      <li>
        <h3> <bold>Curso 1</bold>: Software Testing</h3>
        <h4> A cargo de: Marcelo D’amorim</h4>
      </li>

      <li>
        <h3> <bold>Curso 2</bold>: Construcción de Software Robusto con TDD</h3>
        <h4> A cargo de: Hernán Wilkinson </h4>
      </li>

      <li>
        <h3> <bold>Curso 3</bold>: Programación Probabilística: Teoría y Práctica</h3>
        <h4>A cargo de: Federico Olmedo</h4>
      </li>

      <li>
        <h3> <bold>Curso 4</bold>: Lógica para Computación</h3>
        <h4>A cargo de: Marcelo Frias</h4>
      </li>
    </ul>
  </div>
</section>
