<section class="page-title">
  <div class="container">
    <h2>Escuela</h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i> Escuela</a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->


<section class="school">
  <div>
    <center>
      <h2>Cursos de la XXIII Escuela Internacional informática</h2>
    </center>
    <ul class="courses">
      <li>
        <h3> <bold>Curso 1</bold>: <a href="#" onclick="toggleCourse('curso1'); return false;">Software Testing</a></h3>
        <h4> A cargo de: <%= link_to 'Marcelo D’Amorim', 'https://www.cin.ufpe.br/~damorim/', target: '_blank' %></h4>

        <div id="curso1" class="description">
          Este curso será dictado en inglés.
          <br><br>
          <strong>Course description</strong> <br>
          Software Testing is an approach to assure software quality that is widely adopted in industry. The goal of this course is to introduce Software Testing to students of various backgrounds. The course will cover concepts at different levels. The first two days of the course will cover basic material (e.g., definitions, coverage adequacy, etc.) to students that have no exposure to the discipline. Then, progressively, the course will cover more advanced concepts (e.g., fuzzing, symbolic execution, bounded model checking) and problems investigated in academic research.
        </div>
      </li>

      <li>
        <h3> <bold>Curso 2</bold>: <a href="#" onclick="toggleCourse('curso2'); return false;">Construcción de Software Robusto con TDD</a> </h3>

        <h4> A cargo de: <%= link_to 'Hernán Wilkinson', 'https://www-2.dc.uba.ar/staff/hwilkinson/', target: "_blank" %> </h4>

        <div id="curso2" class="description">
          <strong>Requisitos del curso</strong> <br>
          Es importante que se tengan conocimientos de programación ya que es un curso completamente práctico. <br>
          Los lenguajes a usar pueden ser Smalltalk, Java, C#, Python, Ruby, JavaScript y PHP.
          <br>
          Los requerimientos de máquina es que tengan el lenguaje instalado con el IDE y el framework xUnit correspondiente. <br>
          <br>
          <strong>Contenido del Curso</strong> <br>
          El objetivo de este curso es transmitirte la técnica de desarrollo ágil denominada Test Driven Development (TDD), utilizando para ello ejemplos prácticos y cotidianos. El curso parte de una breve introducción teórica para luego concentrarse en ejercicios prácticos especialmente preparados para que aprendas la técnica, puesto que creemos que 'la mejor manera de aprender es haciendo'. <br>
          <br>
          <a href="https://university.10pines.com/course_contents/4-construccion-de-software-robusto-con-tdd">Descripción completa del curso</a>
        </div>
      </li>

      <li>
        <h3> <bold>Curso 3</bold>: <a href="#" onclick="toggleCourse('curso3'); return false;">Programación Probabilística: Teoría y Práctica</a></h3>
        <h4>A cargo de: <%= link_to 'Federico Olmedo', 'https://www.dcc.uchile.cl/federico_olmedo', target: "_blank" %></h4>

        <div id="curso3" class="description">
          <strong>Requisitos del curso</strong> <br>
          Si bien es recomendable que los asistentes estén familiarizados con conceptos básicos de teoría de la probabilidad y lenguajes de programación, el curso repasará todas las nociones necesaria para su desarrollo, siendo autocontenido y accesible a cualquier estudiante de la disciplina. <br>
          <br>

          <strong>Contenido del Curso</strong> <br>
          En los últimos años los lenguajes de programación probabilística (PPLs) han recibido una enorme atención, tanto desde la academia como desde la industria. En gran medida, esto de debe a la manera en la que han revolucionado los métodos de la inteligencia artificial. Por ejemplo, los PPLs actuales pueden hacer en 50 líneas lo que antes llevaba más de 1000. <br>

          El objetivo de este curso es introducir a sus asistentes al "mundo" de los PPLs, de una manera amplia, cubriendo tanto aspectos prácticos como de fundamentos. Comenzaremos estudiando los beneficios y posibilidades de los modelos de cómputo probabilísticos, recorriendo sus <i>principales aplicaciones</i>, y poniendo especial énfasis en el motor de esta revolución: la inteligencia artificial y el razonamiento Bayesiano. En la segunda parte del curso estudiaremos los principales desafíos en el <i>diseño e implementación</i> de los PPLs. Por último cubriremos la <i>semántica formal</i> y distintas <i>técnicas de verificación</i> de programas probabilísticos.
        </div>
      </li>

      <li>
        <h3> <bold>Curso 4</bold>: <a href="#" onclick="toggleCourse('curso4'); return false;">
          Lógica para Computación</a></h3>
        <h4>A cargo de: <%= link_to 'Marcelo Frias', '#', target: "_blank" %></h4>

        <div id="curso4" class="description">
          <strong>Requisitos del curso</strong> <br>
          Conocimientos básicos de matemática discreta <br>
          Conocimientos básicos de lógica booleana <br>
          <br>
          <strong>Contenidos del Curso</strong> <br>
          Lógica proposicional: definiciones y limitaciones <br>
          Lógica de predicados: definiciones y limitaciones <br>
          Lógica relacional <br>
          Especificación de programas: precondición más débil, corrección parcial y corrección total de programas <br>
          Java Modeling Language: un lenguaje para la especificación de programas <br>
          Detección automática de fallas en programas <br>
          Reparación automática de fallas en programas
        </div>
      </li>
    </ul>
  </div>
</section>

<script type="text/javascript">
  function toggleCourse(id) {
    $(`.school ul.courses li div#${id}`).toggle();
  }
</script>