<section class="page-title">
  <div class="container">
    <h2><%= t 'transportation' %></h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i> <%= t 'transportation' %></a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="event-sponsor sec-pad">
  <div class="container">
    <div class="sec-title text-center">
      <h2><%= t 'transportation' %></h2>
    </div>


 <div class="transp">

  <p class="justi">El campus universario de Rio Cuarto se encuentra a 7km de distancia del centro de la Ciudad.
    Para llegar existen empresas de taxis y remises que pueden realizar este tramo (desconocemos los precios). <br>
    Ademas, se cuenta con un servicio de colectivos locales los cuales cubren este trayecto. El transporte local (SATCRC) tiene un sistema propio de tarjeta (SATBUS) con un costo de $80 y el costo de cada viaje es de $22. Puede observar los lugares donde puede adquirir la tarjeta en el siguiente mapa:<br>
          </p> 

  <iframe src="https://www.google.com/maps/d/embed?mid=17Eyb3CayTWv-aBeq43yUwIvUnhaV1hT3" width="640" height="480"></iframe> <br>

  <p class="justi">
      Para conocer los recorridos de la lineas puede acceder a este  
      <a target="_blank" rel="noopener noreferrer" href="http://www.riocuarto.gov.ar/maparioiv/tilecache/lcolectivos/"> sitio </a> <br>
  </p> 
  
  <p class="justi">
  Los horarios y más información sobre los colectivos puede visitar el sitio de la empresa <a target="_blank" rel="noopener noreferrer" href="http://satcrc.com.ar/"> SATCRC </a><br>
   </p>

       
</div>
</div>
</section>
