<section class="page-title">
  <div class="container">
    <h2>Workshops</h2>
    <ul class="list-inline">
      <li><a href="#">Home</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i> Workshops</a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="workshop">
  <div class="workshop-content">
    <h3>Actividades previstas</h3>
    <ul class="workshop-list">
      <li><a href="#">Workshop Agentes y Sistemas Inteligentes</a></li>
      <li><a href="#">Workshop Procesamiento Distribuido y Paralelo</a></li>
      <li><a href="#">Workshop Tecnología Informática aplicada en Educación</a></li>
      <li><a href="#">Workshop Computación Gráfica, Imágenes y Visualización</a></li>
      <li><a href="#">Workshop Ingeniería de Software</a></li>
      <li><a href="#">Workshop Bases de Datos y Minería de Datos</a></li>
      <li><a href="#">Workshop Arquitectura, Redes y Sistemas Operativos</a></li>
      <li><a href="#">Workshop Innovación en Sistemas de Software</a></li>
      <li><a href="#">Workshop de Procesamiento de Señales y Sistemas de Tiempo Real</a></li>
      <li><a href="#">Workshop Seguridad Informática</a></li>
      <li><a href="#">Workshop Innovación en Educación en Informática</a></li>
      <li><a href="#">Track "Gobierno Digital y Ciudades Inteligentes"</a></li>
    </ul>
  </div>
</section>
