<section class="page-title">
  <div class="container">
    <h2>Workshops</h2>
    <ul class="list-inline">
      <li><a href="#">Home</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i> Workshops</a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="workshop">
  <div class="workshop-content">
    <h3>Actividades previstas</h3>
    <ul class="workshop-list">
      <li><a href="/workshops/agentes_y_sistemas_inteligentes">Workshop Agentes y Sistemas Inteligentes</a></li>
      <li><a href="/workshops/procesamiento_distribuido_y_paralelo">Workshop Procesamiento Distribuido y Paralelo</a></li>
      <li><a href="/workshops/tecnologia_informatica_aplicada_en_educacion">Workshop Tecnología Informática aplicada en Educación</a></li>
      <li><a href="/workshops/computacion_grafica_imagenes_y_visualizacion">Workshop Computación Gráfica, Imágenes y Visualización</a></li>
      <li><a href="/workshops/ingenieria_de_software">Workshop Ingeniería de Software</a></li>
      <li><a href="/workshops/bases_de_datos_y_mineria_de_datos">Workshop Bases de Datos y Minería de Datos</a></li>
      <li><a href="/workshops/arquitectura_redes_y_sistemas_operativos">Workshop Arquitectura, Redes y Sistemas Operativos</a></li>
      <li><a href="/workshops/innovacion_en_sistemas_de_software">Workshop Innovación en Sistemas de Software</a></li>
      <li><a href="/workshops/procesamiento_de_senales_y_sistemas_de_tiempo_real">Workshop Procesamiento de Señales y Sistemas de Tiempo Real</a></li>
      <li><a href="/workshops/seguridad_informatica">Workshop Seguridad Informática</a></li>
      <li><a href="/workshops/innovacion_en_educacion_en_informatica">Workshop Innovación en Educación en Informática</a></li>
      <li><a href="/workshops/track_gobierno_digital_y_ciudades_inteligentes">Track "Gobierno Digital y Ciudades Inteligentes"</a></li>
    </ul>
  </div>
</section>
