<section class="speaker-section sec-pad">
  <div class="container">
    <div class="sec-title text-center">
      <h5>Who Speaking</h5>
      <h2>Our Speakers</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incidi <br />dunt ut labore et dolore magna aliqu enim ad.</p>
    </div><!-- /.sec-title text-center -->
    <div class="team-carousel owl-carousel owl-theme">

      <div class="item">
        <div class="single-speaker">
          <div class="img-box">
            <%= image_tag('speaker-1.png') %>
            <div class="overlay-box">
              <div class="display-table">
                <div class="display-table-cell">
                  <ul class="social list-inline">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  </ul><!-- /.social list-inline -->
                </div><!-- /.display-table-cell -->
              </div><!-- /.display-table -->
            </div><!-- /.overlay-box -->
          </div><!-- /.img-box -->
          <h3>Jonathan Franco</h3>
          <p>Project Manager</p>
        </div><!-- /.single-speaker -->
      </div><!-- /.item -->

      <div class="item">
        <div class="single-speaker">
          <div class="img-box">
            <%= image_tag('speaker-2.png') %>
            <div class="overlay-box">
              <div class="display-table">
                <div class="display-table-cell">
                  <ul class="social list-inline">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  </ul><!-- /.social list-inline -->
                </div><!-- /.display-table-cell -->
              </div><!-- /.display-table -->
            </div><!-- /.overlay-box -->
          </div><!-- /.img-box -->
          <h3>Nikita Miller</h3>
          <p>Project Manager</p>
        </div><!-- /.single-speaker -->
      </div><!-- /.item -->
      <div class="item">
        <div class="single-speaker">
          <div class="img-box">
            <%= image_tag('speaker-3.png') %>
            <div class="overlay-box">
              <div class="display-table">
                <div class="display-table-cell">
                  <ul class="social list-inline">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  </ul><!-- /.social list-inline -->
                </div><!-- /.display-table-cell -->
              </div><!-- /.display-table -->
            </div><!-- /.overlay-box -->
          </div><!-- /.img-box -->
          <h3>Jack Hemswire</h3>
          <p>Project Manager</p>
        </div><!-- /.single-speaker -->
      </div><!-- /.item -->
      <div class="item">
        <div class="single-speaker">
          <div class="img-box">
            <%= image_tag('speaker-4.png') %>
            <div class="overlay-box">
              <div class="display-table">
                <div class="display-table-cell">
                  <ul class="social list-inline">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  </ul><!-- /.social list-inline -->
                </div><!-- /.display-table-cell -->
              </div><!-- /.display-table -->
            </div><!-- /.overlay-box -->
          </div><!-- /.img-box -->
          <h3>Zerad Pawel</h3>
          <p>Project Manager</p>
        </div><!-- /.single-speaker -->
      </div><!-- /.item -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.speaker-section sec-pad -->
