  <section class="banner">
  <div class="container">
    <div class="col-md-5 col-sm-12 col-xs-12 pull-left">
      <h2>Congreso Argentino de Ciencias de la Computación</h2>
      <p>February 22, 2017</p>
      <ul class="list-inline coundown">
        <!-- content loading via js -->
      </ul>
    </div><!-- /.col-md-5 -->
    <div class="col-md-4 col-sm-12 col-xs-12 pull-right">
      <form class="banner-form" action="#">
        <div class="form-header">
          <h3>Register now</h3>
        </div><!-- /.form-header -->
        <div class="form-box">
          <input type="text" placeholder="Full Name" />
          <input type="text" placeholder="Email Address" />
          <input type="text" placeholder="Phone Number" />
          <input type="text" placeholder="Number Of Seats" />
          <input type="text" placeholder="Choose A Plan" />
          <button type="submit">Buy Ticket</button>
        </div><!-- /.form-box -->
      </form>
    </div><!-- /.col-md-4 -->
  </div><!-- /.container -->
</section><!-- /.banner -->

<section class="about-section sec-pad">
  <div class="container">
    <div class="col-md-6">
      <br />
      <br />
      <h4>Welcome to</h4>
      <h3>Our Event<span>biz</span></h3>
      <br />
      <p class="black">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut labore dolore magna aliqua enim ad minim veniam </p>
      <br />
      <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incidi dunt ut labore et dolore magna aliqu enim ad minim veniam.</p>
      <br />
      <a href="#" class="btn">Buy Ticket</a> &emsp; <a href="#" class="btn btn-inverse">Read More</a>

    </div><!-- /.col-md-6 -->
    <div class="col-md-6">
      <img src="img/about-1.png" alt="Awesome Image"/>
    </div><!-- /.col-md-6 -->
  </div><!-- /.container -->
</section><!-- /.about-section -->

<section class="counter-section has-overlay">
  <div class="container">
    <div class="col-md-3 text-center">
      <i class="fa fa-microphone"></i>
      <p>8 Speakers</p>
    </div><!-- /.col-md-3 -->
    <div class="col-md-3 text-center">
      <i class="fa fa-flag"></i>
      <p>500 + Seats</p>
    </div><!-- /.col-md-3 -->
    <div class="col-md-3 text-center">
      <i class="fa fa-ticket"></i>
      <p>300 Tickets</p>
    </div><!-- /.col-md-3 -->
    <div class="col-md-3 text-center">
      <i class="fa fa-calendar"></i>
      <p>3 Days Event</p>
    </div><!-- /.col-md-3 -->
  </div><!-- /.container -->
</section><!-- /.counter-section -->

<section class="speaker-section sec-pad">
  <div class="container">
    <div class="sec-title text-center">
      <h5>Who Speaking</h5>
      <h2>Our Speakers</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incidi <br />dunt ut labore et dolore magna aliqu enim ad.</p>
    </div><!-- /.sec-title text-center -->
    <div class="team-carousel owl-carousel owl-theme">
      <div class="item">
        <div class="single-speaker">
          <div class="img-box">
            <img src="img/speaker-1.png" alt="" />
            <div class="overlay-box">
              <div class="display-table">
                <div class="display-table-cell">
                  <ul class="social list-inline">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  </ul><!-- /.social list-inline -->
                </div><!-- /.display-table-cell -->
              </div><!-- /.display-table -->
            </div><!-- /.overlay-box -->
          </div><!-- /.img-box -->
          <h3>Jonathan Franco</h3>
          <p>Project Manager</p>
        </div><!-- /.single-speaker -->
      </div><!-- /.item -->
      <div class="item">
        <div class="single-speaker">
          <div class="img-box">
            <img src="img/speaker-2.png" alt="" />
            <div class="overlay-box">
              <div class="display-table">
                <div class="display-table-cell">
                  <ul class="social list-inline">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  </ul><!-- /.social list-inline -->
                </div><!-- /.display-table-cell -->
              </div><!-- /.display-table -->
            </div><!-- /.overlay-box -->
          </div><!-- /.img-box -->
          <h3>Nikita Miller</h3>
          <p>Project Manager</p>
        </div><!-- /.single-speaker -->
      </div><!-- /.item -->
      <div class="item">
        <div class="single-speaker">
          <div class="img-box">
            <img src="img/speaker-3.png" alt="" />
            <div class="overlay-box">
              <div class="display-table">
                <div class="display-table-cell">
                  <ul class="social list-inline">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  </ul><!-- /.social list-inline -->
                </div><!-- /.display-table-cell -->
              </div><!-- /.display-table -->
            </div><!-- /.overlay-box -->
          </div><!-- /.img-box -->
          <h3>Jack Hemswire</h3>
          <p>Project Manager</p>
        </div><!-- /.single-speaker -->
      </div><!-- /.item -->
      <div class="item">
        <div class="single-speaker">
          <div class="img-box">
            <img src="img/speaker-4.png" alt="" />
            <div class="overlay-box">
              <div class="display-table">
                <div class="display-table-cell">
                  <ul class="social list-inline">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  </ul><!-- /.social list-inline -->
                </div><!-- /.display-table-cell -->
              </div><!-- /.display-table -->
            </div><!-- /.overlay-box -->
          </div><!-- /.img-box -->
          <h3>Zerad Pawel</h3>
          <p>Project Manager</p>
        </div><!-- /.single-speaker -->
      </div><!-- /.item -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.speaker-section sec-pad -->

<section class="schedule-section sec-pad">
  <div class="container">
    <div class="sec-title text-center light">
      <h5>Event Schedule</h5>
      <h2>Conference Schedule</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incidi <br />dunt ut labore et dolore magna aliqu enim ad.</p>
    </div><!-- /.sec-title text-center -->
    <div class="row">
      <div class="col-md-3">
        <ul class="schedule-links">
          <li class="active" data-tab-name="monday"><a href="#monday" aria-controls="monday" role="tab" data-toggle="tab" class="clearfix">
            <i class="fa fa-calendar"></i>
            <div class="date">
              <p>Monday</p>
              <span>Feb 21, 2017</span>
            </div>
          </a></li>
          <li data-tab-name="tuesday"><a href="#tuesday" aria-controls="tuesday" role="tab" data-toggle="tab" class="clearfix">
            <i class="fa fa-calendar"></i>
            <div class="date">
              <p>Tuesday</p>
              <span>Feb 22, 2017</span>
            </div><!-- /.date -->
          </a></li>
          <li data-tab-name="wednesday"><a href="#wednesday" aria-controls="wednesday" role="tab" data-toggle="tab" class="clearfix">
            <i class="fa fa-calendar"></i>
            <div class="date">
              <p>Wednesday</p>
              <span>Feb 23, 2017</span>
            </div><!-- /.date -->
          </a></li>
        </ul>
      </div><!-- /.col-md-3 -->
      <div class="col-md-9">  
          <div class="tab-content">
            <div class="tab-pane fade in active" id="monday">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr> 
                      <th>Time</th> 
                      <th>Speaker</th> 
                      <th>Subject</th> 
                      <th>Venue</th> 
                    </tr> 
                  </thead>
                  <tbody> 
                    <tr> 
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td> 
                      <td><img src="img/speaker-thumb-1.png" alt="Awesome Image"/> Samanta Doe</td> 
                      <td>Inroduction to Wp</td> 
                      <td>Auditorium A</td> 
                    </tr> 
                    <tr> 
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td> 
                      <td><img src="img/speaker-thumb-2.png" alt="Awesome Image"/> Samanta Doe</td> 
                      <td>Inroduction to Wp</td> 
                      <td>Auditorium A</td> 
                    </tr> 
                    <tr> 
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td> 
                      <td><img src="img/speaker-thumb-3.png" alt="Awesome Image"/> Samanta Doe</td> 
                      <td>Inroduction to Wp</td> 
                      <td>Auditorium A</td> 
                    </tr> 
                    <tr> 
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td> 
                      <td><img src="img/speaker-thumb-4.png" alt="Awesome Image"/> Samanta Doe</td> 
                      <td>Inroduction to Wp</td> 
                      <td>Auditorium A</td> 
                    </tr> 
                    <tr> 
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td> 
                      <td><img src="img/speaker-thumb-5.png" alt="Awesome Image"/> Samanta Doe</td> 
                      <td>Inroduction to Wp</td> 
                      <td>Auditorium A</td> 
                    </tr> 
                    <tr> 
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td> 
                      <td><img src="img/speaker-thumb-6.png" alt="Awesome Image"/> Samanta Doe</td> 
                      <td>Inroduction to Wp</td> 
                      <td>Auditorium A</td> 
                    </tr>
                </table>
              </div>
            </div>
            <div class="tab-pane fade" id="tuesday">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr> 
                      <th>Time</th> 
                      <th>Speaker</th> 
                      <th>Subject</th> 
                      <th>Venue</th> 
                    </tr> 
                  </thead>
                  <tbody> 
                    <tr> 
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td> 
                      <td><img src="img/speaker-thumb-1.png" alt="Awesome Image"/> Samanta Doe</td> 
                      <td>Inroduction to Wp</td> 
                      <td>Auditorium A</td> 
                    </tr> 
                    <tr> 
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td> 
                      <td><img src="img/speaker-thumb-2.png" alt="Awesome Image"/> Samanta Doe</td> 
                      <td>Inroduction to Wp</td> 
                      <td>Auditorium A</td> 
                    </tr> 
                    <tr> 
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td> 
                      <td><img src="img/speaker-thumb-3.png" alt="Awesome Image"/> Samanta Doe</td> 
                      <td>Inroduction to Wp</td> 
                      <td>Auditorium A</td> 
                    </tr> 
                    <tr> 
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td> 
                      <td><img src="img/speaker-thumb-4.png" alt="Awesome Image"/> Samanta Doe</td> 
                      <td>Inroduction to Wp</td> 
                      <td>Auditorium A</td> 
                    </tr> 
                    <tr> 
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td> 
                      <td><img src="img/speaker-thumb-5.png" alt="Awesome Image"/> Samanta Doe</td> 
                      <td>Inroduction to Wp</td> 
                      <td>Auditorium A</td> 
                    </tr> 
                    <tr> 
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td> 
                      <td><img src="img/speaker-thumb-6.png" alt="Awesome Image"/> Samanta Doe</td> 
                      <td>Inroduction to Wp</td> 
                      <td>Auditorium A</td> 
                    </tr>
                </table>
              </div>
            </div>
            <div class="tab-pane fade" id="wednesday">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr> 
                      <th>Time</th> 
                      <th>Speaker</th> 
                      <th>Subject</th> 
                      <th>Venue</th> 
                    </tr> 
                  </thead>
                  <tbody> 
                    <tr> 
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td> 
                      <td><img src="img/speaker-thumb-1.png" alt="Awesome Image"/> Samanta Doe</td> 
                      <td>Inroduction to Wp</td> 
                      <td>Auditorium A</td> 
                    </tr> 
                    <tr> 
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td> 
                      <td><img src="img/speaker-thumb-2.png" alt="Awesome Image"/> Samanta Doe</td> 
                      <td>Inroduction to Wp</td> 
                      <td>Auditorium A</td> 
                    </tr> 
                    <tr> 
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td> 
                      <td><img src="img/speaker-thumb-3.png" alt="Awesome Image"/> Samanta Doe</td> 
                      <td>Inroduction to Wp</td> 
                      <td>Auditorium A</td> 
                    </tr> 
                    <tr> 
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td> 
                      <td><img src="img/speaker-thumb-4.png" alt="Awesome Image"/> Samanta Doe</td> 
                      <td>Inroduction to Wp</td> 
                      <td>Auditorium A</td> 
                    </tr> 
                    <tr> 
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td> 
                      <td><img src="img/speaker-thumb-5.png" alt="Awesome Image"/> Samanta Doe</td> 
                      <td>Inroduction to Wp</td> 
                      <td>Auditorium A</td> 
                    </tr> 
                    <tr> 
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td> 
                      <td><img src="img/speaker-thumb-6.png" alt="Awesome Image"/> Samanta Doe</td> 
                      <td>Inroduction to Wp</td> 
                      <td>Auditorium A</td> 
                    </tr>
                </table>
              </div>
            </div>
          </div>
      </div><!-- /.col-md-9 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.schedule-section sec-pad -->

<section class="upcoming-event-section sec-pad">
  <div class="container">
    <div class="sec-title text-center">
      <h5>Our Events</h5>
      <h2>Upcoming Events</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incidi <br />dunt ut labore et dolore magna aliqu enim ad.</p>
    </div><!-- /.sec-title text-center -->
    <div class="event-carousel owl-theme owl-carousel">
      <div class="item">
        <div class="single-upcoming-event">
          <div class="img-box">
            <img src="img/event-1.png" alt="" />
            <ul class="event-details">
              <li><i class="fa fa-calendar"></i> 22 February, 2017</li>
              <li><i class="fa fa-clock-o"></i> 9.00 AM</li>
            </ul><!-- /.event-details -->
          </div><!-- /.img-box -->
          <h3>Fusce sagit odio ullam corper element.</h3>
        </div><!-- /.single-upcoming-event -->
      </div><!-- /.col-md-4 -->
      <div class="item">
        <div class="single-upcoming-event">
          <div class="img-box">
            <img src="img/event-2.png" alt="" />
            <ul class="event-details">
              <li><i class="fa fa-calendar"></i> 22 February, 2017</li>
              <li><i class="fa fa-clock-o"></i> 9.00 AM</li>
            </ul><!-- /.event-details -->
          </div><!-- /.img-box -->
          <h3>Proin tempor lectus mauris convalis.</h3>
        </div><!-- /.single-upcoming-event -->
      </div><!-- /.col-md-4 -->
      <div class="item">
        <div class="single-upcoming-event">
          <div class="img-box">
            <img src="img/event-3.png" alt="" />
            <ul class="event-details">
              <li><i class="fa fa-calendar"></i> 22 February, 2017</li>
              <li><i class="fa fa-clock-o"></i> 9.00 AM</li>
            </ul><!-- /.event-details -->
          </div><!-- /.img-box -->
          <h3>Etiam non lectus est tellus mattis.</h3>
        </div><!-- /.single-upcoming-event -->
      </div><!-- /.col-md-4 -->
      <div class="item">
        <div class="single-upcoming-event">
          <div class="img-box">
            <img src="img/event-1.png" alt="" />
            <ul class="event-details">
              <li><i class="fa fa-calendar"></i> 22 February, 2017</li>
              <li><i class="fa fa-clock-o"></i> 9.00 AM</li>
            </ul><!-- /.event-details -->
          </div><!-- /.img-box -->
          <h3>Fusce sagit odio ullam corper element.</h3>
        </div><!-- /.single-upcoming-event -->
      </div><!-- /.col-md-4 -->
      <div class="item">
        <div class="single-upcoming-event">
          <div class="img-box">
            <img src="img/event-2.png" alt="" />
            <ul class="event-details">
              <li><i class="fa fa-calendar"></i> 22 February, 2017</li>
              <li><i class="fa fa-clock-o"></i> 9.00 AM</li>
            </ul><!-- /.event-details -->
          </div><!-- /.img-box -->
          <h3>Proin tempor lectus mauris convalis.</h3>
        </div><!-- /.single-upcoming-event -->
      </div><!-- /.col-md-4 -->
      <div class="item">
        <div class="single-upcoming-event">
          <div class="img-box">
            <img src="img/event-3.png" alt="" />
            <ul class="event-details">
              <li><i class="fa fa-calendar"></i> 22 February, 2017</li>
              <li><i class="fa fa-clock-o"></i> 9.00 AM</li>
            </ul><!-- /.event-details -->
          </div><!-- /.img-box -->
          <h3>Etiam non lectus est tellus mattis.</h3>
        </div><!-- /.single-upcoming-event -->
      </div><!-- /.col-md-4 -->
      <div class="item">
        <div class="single-upcoming-event">
          <div class="img-box">
            <img src="img/event-1.png" alt="" />
            <ul class="event-details">
              <li><i class="fa fa-calendar"></i> 22 February, 2017</li>
              <li><i class="fa fa-clock-o"></i> 9.00 AM</li>
            </ul><!-- /.event-details -->
          </div><!-- /.img-box -->
          <h3>Fusce sagit odio ullam corper element.</h3>
        </div><!-- /.single-upcoming-event -->
      </div><!-- /.col-md-4 -->
      <div class="item">
        <div class="single-upcoming-event">
          <div class="img-box">
            <img src="img/event-2.png" alt="" />
            <ul class="event-details">
              <li><i class="fa fa-calendar"></i> 22 February, 2017</li>
              <li><i class="fa fa-clock-o"></i> 9.00 AM</li>
            </ul><!-- /.event-details -->
          </div><!-- /.img-box -->
          <h3>Proin tempor lectus mauris convalis.</h3>
        </div><!-- /.single-upcoming-event -->
      </div><!-- /.col-md-4 -->
      <div class="item">
        <div class="single-upcoming-event">
          <div class="img-box">
            <img src="img/event-3.png" alt="" />
            <ul class="event-details">
              <li><i class="fa fa-calendar"></i> 22 February, 2017</li>
              <li><i class="fa fa-clock-o"></i> 9.00 AM</li>
            </ul><!-- /.event-details -->
          </div><!-- /.img-box -->
          <h3>Etiam non lectus est tellus mattis.</h3>
        </div><!-- /.single-upcoming-event -->
      </div><!-- /.col-md-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.upcoming-event-section -->
<section class="call-to-action">
  <div class="container">
    <h3>Register for Conference now</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incidi <br /> dunt ut labore et dolore magna aliqu enim ad.</p>
    <a href="#" class="btn">Register Now</a>
  </div><!-- /.container -->
</section><!-- /.call-to-action -->
<section class="choose-a-plan-section sec-pad">
  <div class="container">
    <div class="sec-title text-center">
      <h5>Buy Ticket</h5>
      <h2>Choose A Plan</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incidi <br />dunt ut labore et dolore magna aliqu enim ad.</p>
    </div><!-- /.sec-title text-center -->
    <div class="row">
      <div class="col-md-4">
        <div class="single-choose-a-plan-section">
          <div class="top-box">
            <div class="name">
              <h3>Starter</h3>
            </div><!-- /.name -->
            <div class="price">
              49.00<span>$</span>
            </div><!-- /.price -->
            <p>Per Person</p>
          </div><!-- /.top-box -->
          <ul>
            <li><i class="fa fa-circle-thin"></i> 1 Comfortable Seats</li>
            <li><i class="fa fa-circle-thin"></i> Free Lunch and Coffee</li>
            <li><i class="fa fa-circle-thin"></i> Certificate</li>
            <li><i class="fa fa-circle-thin"></i> Easy Access</li>
          </ul>
          <a href="#" class="btn">Buy a Ticket</a>
        </div><!-- /.single-choose-a-plan-section -->
      </div><!-- /.col-md-4 -->
      <div class="col-md-4">
        <div class="single-choose-a-plan-section active">
          <div class="top-box">
            <div class="name">
              <h3>Standerd</h3>
            </div><!-- /.name -->
            <div class="price">
              59.00<span>$</span>
            </div><!-- /.price -->
            <p>Per Person</p>
          </div><!-- /.top-box -->
          <ul>
            <li><i class="fa fa-circle-thin"></i> 1 Comfortable Seats</li>
            <li><i class="fa fa-circle-thin"></i> Free Lunch and Coffee</li>
            <li><i class="fa fa-circle-thin"></i> Certificate</li>
            <li><i class="fa fa-circle-thin"></i> Easy Access</li>
          </ul>
          <a href="#" class="btn">Buy a Ticket</a>
        </div><!-- /.single-choose-a-plan-section -->
      </div><!-- /.col-md-4 -->
      <div class="col-md-4">
        <div class="single-choose-a-plan-section">
          <div class="top-box">
            <div class="name">
              <h3>Platinum</h3>
            </div><!-- /.name -->
            <div class="price">
              79.00<span>$</span>
            </div><!-- /.price -->
            <p>Per Person</p>
          </div><!-- /.top-box -->
          <ul>
            <li><i class="fa fa-circle-thin"></i> 1 Comfortable Seats</li>
            <li><i class="fa fa-circle-thin"></i> Free Lunch and Coffee</li>
            <li><i class="fa fa-circle-thin"></i> Certificate</li>
            <li><i class="fa fa-circle-thin"></i> Easy Access</li>
          </ul>
          <a href="#" class="btn">Buy a Ticket</a>
        </div><!-- /.single-choose-a-plan-section -->
      </div><!-- /.col-md-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.choose-a-plan-section -->
<section class="event-gallery-section gray-bg sec-pad">
  <div class="container-fluid">
    <div class="sec-title text-center">
      <h5>Our Gallery</h5>
      <h2>Event Gallery</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incidi <br />dunt ut labore et dolore magna aliqu enim ad.</p>
    </div><!-- /.sec-title text-center -->
    <div class="gallery-carousel owl-carousel owl-theme">
      <div class="item">
        <div class="single-gallery-box">
          <div class="img-box">
            <img src="img/gallery-1.png" alt="Awesome Image"/>
            <div class="overlay">
              <div class="dt">
                <div class="dtc">
                  <ul class="text-center list-inline">
                    <li><a class="fancybox" href="img/gallery-page-1.jpg"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                  </ul>
                </div><!-- /.dtc -->
              </div><!-- /.dt -->
            </div><!-- /.overlay -->
          </div><!-- /.img-box -->
        </div><!-- /.single-gallery-box -->
      </div><!-- /.col-md-3 -->
      <div class="item">
        <div class="single-gallery-box">
          <div class="img-box">
            <img src="img/gallery-2.png" alt="Awesome Image"/>
            <div class="overlay">
              <div class="dt">
                <div class="dtc">
                  <ul class="text-center list-inline">
                    <li><a class="fancybox" href="img/gallery-page-1.jpg"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                  </ul>
                </div><!-- /.dtc -->
              </div><!-- /.dt -->
            </div><!-- /.overlay -->
          </div><!-- /.img-box -->
        </div><!-- /.single-gallery-box -->
      </div><!-- /.col-md-3 -->
      <div class="item">
        <div class="single-gallery-box">
          <div class="img-box">
            <img src="img/gallery-3.png" alt="Awesome Image"/>
            <div class="overlay">
              <div class="dt">
                <div class="dtc">
                  <ul class="text-center list-inline">
                    <li><a class="fancybox" href="img/gallery-page-1.jpg"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                  </ul>
                </div><!-- /.dtc -->
              </div><!-- /.dt -->
            </div><!-- /.overlay -->
          </div><!-- /.img-box -->
        </div><!-- /.single-gallery-box -->
      </div><!-- /.col-md-3 -->
      <div class="item">
        <div class="single-gallery-box">
          <div class="img-box">
            <img src="img/gallery-4.png" alt="Awesome Image"/>
            <div class="overlay">
              <div class="dt">
                <div class="dtc">
                  <ul class="text-center list-inline">
                    <li><a class="fancybox" href="img/gallery-page-1.jpg"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                  </ul>
                </div><!-- /.dtc -->
              </div><!-- /.dt -->
            </div><!-- /.overlay -->
          </div><!-- /.img-box -->
        </div><!-- /.single-gallery-box -->
      </div><!-- /.col-md-3 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.event-gallery-section -->
<section class="event-sponsor sec-pad">
  <div class="container">
    <div class="sec-title text-center">
      <h5>Well Wisher</h5>
      <h2>Event Sponsors</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incidi <br />dunt ut labore et dolore magna aliqu enim ad.</p>
    </div><!-- /.sec-title text-center -->
    <h3 class="sponsor-title text-center">Platinum Sponsors</h3><!-- /.sponsor-title -->
    <br />
    <ul class="sponsor-img-list list-inline text-center">
      <li>
        <img src="img/sponsor-1.png" alt="" />
      </li>
      <li>
        <img src="img/sponsor-2.png" alt="" />
      </li>
      <li>
        <img src="img/sponsor-3.png" alt="" />
      </li>
      <li>
        <img src="img/sponsor-4.png" alt="" />
      </li>
      <li>
        <img src="img/sponsor-5.png" alt="" />
      </li>
    </ul><!-- /.sponsor-img-list -->
    <br /><br /><br />
    <h3 class="sponsor-title text-center">Gold Sponsors</h3><!-- /.sponsor-title -->
    <br />
    <ul class="sponsor-img-list list-inline text-center">
      <li>
        <img src="img/sponsor-6.png" alt="" />
      </li>
      <li>
        <img src="img/sponsor-7.png" alt="" />
      </li>
      <li>
        <img src="img/sponsor-8.png" alt="" />
      </li>
    </ul><!-- /.sponsor-img-list -->

  </div><!-- /.container -->
</section><!-- /.event-sponsor sec-pad -->
<section class="subscribe-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pull-right half-overlay">
        <div class="inner-content">
          <h3>Subscribe to </h3>
          <h2>Our Newsletter</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor <br /> incidi dunt ut labore et dolore magna aliqu enim ad.</p>
          <form action="#">
            <input type="text" placeholder="Enter your email" />
            <button class="btn">Subscribe</button>
          </form>
        </div><!-- /.inner-content -->
      </div><!-- /.col-md-6 pull-right -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.subscribe-section -->
<section class="blog-section sec-pad">
  <div class="container">
    <div class="sec-title text-center">
      <h5>Our News</h5>
      <h2>Latest Articles</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incidi <br />dunt ut labore et dolore magna aliqu enim ad.</p>
    </div><!-- /.sec-title text-center -->
    <div class="row">
      <div class="col-md-4">
        <div class="single-blog-post text-center">
          <div class="img-box">
            <img src="img/blog-1.png" alt="Awesome Image"/>
            <div class="date-box">
              25 <span>Feb</span>
            </div><!-- /.date-box -->
          </div><!-- /.img-box -->
          <div class="bottom-box">
            <h3>vitae tellus metus.</h3>
            <p>Lorem ipsum dolor amet consectetur adipisicing elit sed eiusm tempor incididunt ut labore dolore magna aliqua enim ad minim.</p>
            <ul class="post-meta list-inline text-center">
              <li>
                <a href="#"><i class="fa fa-user-o"></i> Admin</a>                
              </li>
              <li>
                <a href="#"><i class="fa fa-heart-o"></i> 350</a>
              </li>
              <li>                
                <a href="#"><i class="fa fa-comments-o"></i> 30</a>
              </li>
            </ul><!-- /.post-meta -->
          </div><!-- .bottom-box -->
        </div><!-- /.single-blog-post -->
      </div><!-- /.col-md-4 -->
      <div class="col-md-4">
        <div class="single-blog-post text-center">
          <div class="img-box">
            <img src="img/blog-2.png" alt="Awesome Image"/>
            <div class="date-box">
              25 <span>Feb</span>
            </div><!-- /.date-box -->
          </div><!-- /.img-box -->
          <div class="bottom-box">
            <h3>porta quis lacus.</h3>
            <p>Lorem ipsum dolor amet consectetur adipisicing elit sed eiusm tempor incididunt ut labore dolore magna aliqua enim ad minim.</p>
            <ul class="post-meta list-inline text-center">
              <li>
                <a href="#"><i class="fa fa-user-o"></i> Admin</a>                
              </li>
              <li>
                <a href="#"><i class="fa fa-heart-o"></i> 350</a>
              </li>
              <li>                
                <a href="#"><i class="fa fa-comments-o"></i> 30</a>
              </li>
            </ul><!-- /.post-meta -->
          </div><!-- .bottom-box -->
        </div><!-- /.single-blog-post -->
      </div><!-- /.col-md-4 -->
      <div class="col-md-4">
        <div class="single-blog-post text-center">
          <div class="img-box">
            <img src="img/blog-3.png" alt="Awesome Image"/>
            <div class="date-box">
              25 <span>Feb</span>
            </div><!-- /.date-box -->
          </div><!-- /.img-box -->
          <div class="bottom-box">
            <h3>velit eget ornare.</h3>
            <p>Lorem ipsum dolor amet consectetur adipisicing elit sed eiusm tempor incididunt ut labore dolore magna aliqua enim ad minim.</p>
            <ul class="post-meta list-inline text-center">
              <li>
                <a href="#"><i class="fa fa-user-o"></i> Admin</a>                
              </li>
              <li>
                <a href="#"><i class="fa fa-heart-o"></i> 350</a>
              </li>
              <li>                
                <a href="#"><i class="fa fa-comments-o"></i> 30</a>
              </li>
            </ul><!-- /.post-meta -->
          </div><!-- /.bottom-box -->
        </div><!-- /.single-blog-post -->
      </div><!-- /.col-md-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.blog-section -->
<footer>
  <div class="container">
    <div class="col-md-5">
      <div class="about-widget">
        <a href="index.html">
          <img src="img/logo.png" alt="" />
        </a>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock a Latin professor. at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words consectetur.</p>
      </div><!-- /.about-widget -->
    </div><!-- /.col-md-5 -->
    <div class="col-md-4">
      <div class="link-widget">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="#"><i class="fa fa-angle-right"></i> About Us</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Expert Team</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Gallery</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Services</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Latest News</a></li>
        </ul>
      </div><!-- /.link-widget -->
    </div><!-- /.col-md-4 -->
    <div class="col-md-3">
      <div class="contact-widget">
        <h3>contact us</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod.</p>
        <ul>
          <li>
            Location:    1201 park street, <br /> &emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;Avenue,
          </li>
          <li>Phone:    [88] 657 524 332</li>
          <li>Email:    info@Eventbiz.com</li>
        </ul>
      </div><!-- /.contact-widget -->
    </div><!-- /.col-md-3 -->
  </div><!-- /.container -->
</footer>
<section class="footer-bottom">
  <div class="container">
    <div class="left-text pull-left">
      <p>EventBiz  &copy;  2017 All Right Reserved</p>
    </div><!-- /.left-text pull-left -->
    <div class="social pull-right">
      <ul class="list-inline">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-rss"></i></a></li>
        <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
      </ul><!-- /.list-inline -->
    </div><!-- /.social pull-right -->
  </div><!-- /.container -->
</section><!-- /.footer-bottom -->
