<section class="page-title">
  <div class="container">
    <h2>Registro</h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i> Registro</a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section>
  <form id="regForm" action="https://formspree.io/registracioncacic19@dc.exa.unrc.edu.ar" method="POST"/>
    <div class="registerForm">
      <div class="column">
        <h2>Datos Personales</h2>

        <input type="text" class="form-control" id="last_name" name="registration[last_name]" placeholder="Apellido">
        <input type="text" class="form-control" id="first_name" name="registration[first_name]" placeholder="Nombres">
        <input type="text" class="form-control" id="dni" name="registration[dni]" placeholder="DNI">
        <input type="email" class="form-control" id="email" name="registration[email]" placeholder="Email">
        <input type="text" class="form-control" id="country" name="registration[country]" placeholder="Pais">
        <input type="text" class="form-control" id="province" name="registration[province]" placeholder="Provincia">
        <input type="text" class="form-control" id="city" name="registration[city]" placeholder="Ciudad">
      </div>

      <div class="column">
        <h2>Datos de Filiación</h2>

        <input type="text" class="form-control" id="university" name="registration[university]" placeholder="institución">

        <select class="form-control" id="category" name="registration[category]">
          <option>Estudiante de Universidad miembro de la RedUNCI</option>
          <option>Estudiante de otra institución</option>
          <option>Otro</option>
        </select>
        <div class="costo">
        <p>
        Las categorías consideradas, y el arancel correspondiente, son las siguientes:</p>
          <p> - Alumnos Universidades miembros RedUNCI: sin costo </p>
          <p>   - Alumnos de otras instituciones: 450 AR$ </p>
          <p>  - Otros: 600 AR$ </p>
      </div>
      </div>

      <div class="column course">
        <h1>Curso</h1>

        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="registration[course]" value="Curso1: Software Testing">
          Software Testing
        </label>

        <label>
          <input type="radio" name="registration[course]" value="Curso2: Construcción de Software Robusto con TDD"> 
          Construcción de Software Robusto con TDD
        </label> 

        <label>
          <input type="radio" name="registration[course]" value="Curso3: Programación Probabilística: Teoría y Práctica">
          Programación Probabilística: Teoría y Práctica
        </label>

        <label>
          <input type="radio" name="registration[course]" value="Curso4: Lógica para Computación">
          Lógica para Computación
        </label>

       
      </div>

      <div>
       <strong>Para que la inscripción se haga efectiva, recuerde que debe transferir el dinero correspondiente de su categoria a la siguiente cuenta:  </strong>

      <h5>
        CBU: 0110432930043217848833<br>
        Tipo de Cuenta: Caja de Ahorro<br>
        Titular:ARROYO MARCELO DANIEL <br>
        Moneda: Pesos Argentinos<br>
        Nro de Cuenta: 29304321784883<br>
        CUIL: 20176635933<br>
        Banco Nación <br>
      </h5>
      </div>
      
      <div class="break"></div>

      <div class="button">
        <button type="submit" id="registerSend" name="registration[registerSend]" class="btn btn-default">
          Registrarse
        </button>
      </div>
    </div>
  </form>
</section>
