<h3>Gracias por su inscripción, <%= @params[:first_name] %></h3>

<p>
  Usted se ha inscripto al curso <%= @params[:course] %>
</p>

<p>
  Sus datos de inscripción son los siguientes:
</p>

<ul>
<% @params.each do |param| %>
  <li><%= param.first %>: <%= param.last %> </li>
<% end %>
</ul>

<br>

Saludos cordiales,<br>

Comité organizador CACIC 2019.<br><br>
