// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.black-bg {
  background: black;
}

a.navbar-brand {
  height: auto;
  width: 186px;
}

a.navbar-brand img {
  height: 30px;
  width: 100%;
}
