div.registerForm {
	max-width: 1200px;
	width: auto;
	margin: auto;
	padding: 10px;
	display: flex;
  flex-wrap: wrap;
}

div.registerForm input, label {
	padding: 10px;
	margin: 10px;
}

div.registerForm .course input, label {
	margin: 0px;
}

div.registerForm form div label[class="error"]{
	color: red;
}

div.registerForm select#category {
	margin: 10px;
}

div.registerForm .column {
	flex-grow: 1;
  width: 33%;
  padding: 10px;
}

div.registerForm .button {
	flex: 1 1;
	text-align: center;
}

div.registerForm .break {
  flex-basis: 100%;
  height: 0;
}

@media(max-width:768px) {
  div.registerForm {
    flex-flow: column;
  }

  div.registerForm .column {
		flex-grow: 1;
	  width: 98%;
	  padding: 10px;
	}
}