div.register-form {
	max-width: 600px;
	width: auto;
	margin: auto;
	padding: 10px;

}

div.register-form form div > input, label {
	margin: 10px;
	width: 100%;
}

div.register-form form div label[class="error"]{
	color: red;
}

div.register-form form div label[for="register-category"]{
	margin-bottom: 0;
}

div.register-form form div label select#register-category {
	margin-top: 10px;
	margin-bottom: 0;
}