<footer>
  <div class="container">
    <div class="col-md-5">
      <div class="about-widget">
        <a href="index.html">
          <%= image_tag('logo-cacic.png', size: '180x40') %>
        </a>
        <p>CACIC reúne desde 1995 a investigadores, docentes, profesionales y alumnos de grado y postgrado vinculados con la disciplina Informática.</p>
        <p>El Congreso cubre diferentes áreas a través de la organización de Workshops, coordinados por expertos en los temas del área. En estos Workshops se presentan trabajos científicos evaluados por investigadores del país y del exterior.</p>
      </div><!-- /.about-widget -->
    </div><!-- /.col-md-5 -->
    <div class="col-md-4">
      <div class="link-widget">
        <h3>Enlaces</h3>
        <!--
        <ul>
          <li><a href="#"><i class="fa fa-angle-right"></i> About Us</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Expert Team</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Gallery</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Services</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Latest News</a></li>
        </ul>
        -->
      </div><!-- /.link-widget -->
    </div><!-- /.col-md-4 -->
    <div class="col-md-3">
      <div class="contact-widget">
        <h3>Contacto</h3>
        <p>Contactenos por cualquier duda o consulta</p>
        <ul>
          <li>
            Location:    Enlace Ruta 6 y 36, Km 608,
          </li>
          <li>Phone:    [54] 358 467-6235</li>
          <li>Email:    cacic2019@dc.exa.unrc.edu.ar</li>
        </ul>
      </div><!-- /.contact-widget -->
    </div><!-- /.col-md-3 -->
  </div><!-- /.container -->
</footer>
<section class="footer-bottom">
  <div class="container">
    <div class="left-text pull-left">
      <p>CACIC  &copy;  2019 All Right Reserved</p>
    </div><!-- /.left-text pull-left -->
    <div class="social pull-right">
      <ul class="list-inline">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-rss"></i></a></li>
        <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
      </ul><!-- /.list-inline -->
    </div><!-- /.social pull-right -->
  </div><!-- /.container -->
</section><!-- /.footer-bottom -->
