<footer>
  <div class="container">
    <div class="col-md-5">
      <div class="about-widget">
        <a href="index.html">
          <%#= image_tag('logo') %>
          <img src='logo.png' />
        </a>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock a Latin professor. at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words consectetur.</p>
      </div><!-- /.about-widget -->
    </div><!-- /.col-md-5 -->
    <div class="col-md-4">
      <div class="link-widget">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="#"><i class="fa fa-angle-right"></i> About Us</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Expert Team</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Gallery</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Services</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Latest News</a></li>
        </ul>
      </div><!-- /.link-widget -->
    </div><!-- /.col-md-4 -->
    <div class="col-md-3">
      <div class="contact-widget">
        <h3>contact us</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod.</p>
        <ul>
          <li>
            Location:    Enlace Ruta 6 y 36, Km 608,
          </li>
          <li>Phone:    [88] 657 524 332</li>
          <li>Email:    info@Eventbiz.com</li>
        </ul>
      </div><!-- /.contact-widget -->
    </div><!-- /.col-md-3 -->
  </div><!-- /.container -->
</footer>
<section class="footer-bottom">
  <div class="container">
    <div class="left-text pull-left">
      <p>CACIC  &copy;  2019 All Right Reserved</p>
    </div><!-- /.left-text pull-left -->
    <div class="social pull-right">
      <ul class="list-inline">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-rss"></i></a></li>
        <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
      </ul><!-- /.list-inline -->
    </div><!-- /.social pull-right -->
  </div><!-- /.container -->
</section><!-- /.footer-bottom -->
